.form-apply {

  .typeline{
    margin-left: 30px !important;

    position: relative;
    .block{
      margin-top: 20px;
    }
    .yuandian{
      position: absolute;
      left: -11px;
    }
    .beizhu{
      font-size: 12px;
      color: #999;
      margin:5px 0;
      text-indent: 20px;
    }
    .upload-demo{
      width: 100%;
      .el-upload{
        width: 100%;
      }
      .el-upload-dragger{
        width: 59%;
        height: 130px;
      }
    }

    .leftshouru {
      //font-family:MicrosoftYaHei;
      font-size:14px;
      color:#1b1b1b;
      line-height:14px;

    }
  }
}
