@import "config";

.fl {
  float: left;
}

.fr {
  float: right
}

.dis-none {
  display: none;
}

.mb20 {
  margin-bottom: 20px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl5 {
  padding-left: 5px;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.css_pointer{
  cursor:pointer;
}

.in-block-g{
  display: inline-block;
}

.clearfix {
  &:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.w1046 {
  width: 1046px;
  margin: 50px auto 0;
  .title01 {
    //font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #5c5c5c;
    text-align: left;
    border-left: 4px solid #3c8ced;
    padding-left: 7px;
    margin-bottom: 15px;
  }
  .wf_main {
    padding: 50px 0;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    min-height: 430px;
  }
}

.mi-height {
  min-height: 733px;
}

.qfx-logo {
  display: inline-block;
  height: 69px;
  width: 199px;
  background: url("../../assets/images/qfx-logo.png") 0/cover no-repeat;
  margin-right: 47px;
}

//图片上传
.wf-upload {
  background: url("../images/upload1.jpg") center no-repeat;
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px dashed #3c8ced;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 100px;
}

.el-icon-plus:before {
  display: none;
}

//侧边栏
.side-bar {
  width: 200px;
  float: left;
  li {
    height: 48px;
    line-height: 48px;
    padding: 0;
    background: #FFFFFF;
    margin-bottom: 1px;
    a {
      display: inline-block;
      padding-left: 20px;
      font-size: 14px;
      color: #5c5c5c;
      height: 100%;
      width: 100%;
      &.active {
        transition: background-color .3s, color .3s;
        background: #3c8ced;
        color: #FFFFFF;
      }
    }
  }

}

//主要内容
.main-part {
  margin-top: 20px;
}

.main-content {
  float: left;
  margin-left: 20px;
  background: #ffffff;
  width: 980px;
  padding: 20px;
  margin-bottom: 80px;
}

//页尾
.black-footer {
  background: #5c5c5c;
  width: 100%;
  height: 68px;
  line-height: 68px;
  p {
    text-align: center;
    span {
      font-size: 12px;
      color: #a9a9a9;
      margin-right: 30px;
    }
  }
}

//面包屑
.el-breadcrumb {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
  .el-breadcrumb__separator, .el-breadcrumb__item__inner, .el-breadcrumb__item__inner a {
    font-size: 14px;
    color: #5c5c5c;
  }
  .el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover {
    color: #5c5c5c;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 1px;
    background: #efefef;
  }
}

//默认按钮
.custom-btn {
  .el-button {
    color: #4096ff;
    border-color: #4096ff;
    height: 33px;
    width: 97px;
  }
}

//切换
.tab {
  .el-tabs__item {
    font-size: 16px;
    color: #1b1b1b;
    font-weight: bold;
    &.is-active {
      color: #20a0ff;
    }
  }
}

//表格
.table-box {
  padding: 21px 22px;
  .el-table {
    border: none;
    td {
      height: 60px;
      border: none;
    }
    th {
      height: 60px;
      background-color: #e7f9ff;
      &.is-leaf {
        border: none;
      }
    }
    tr:nth-child(2n) {
      background: #f5f5f5;
      border: none;
      cursor:auto;
    }
    &:after, &:before {
      background: none;
    }
  }
  .el-table__header-wrapper thead div {
    background: #e7f9ff;
    color: #1b1b1b;
  }
  .checkDtl {
    color: #3c8ced;
    cursor: pointer;
  }
  .el-table .cell, .el-table__footer-wrapper, .el-table__header-wrapper {
    overflow: inherit;
  }
  a:visited {
    color: #20a0ff;
  }
  .table-box .del span:hover {

  }
  .del {
    color: #f44236;
    &:hover {
      color: #f44236 !important;
    }

  }

  .el-button--text:hover {
    color: #20a0ff;
  }

}

.el-table .cell {
  color: #5c5c5c;
}

//分页
.pagination {
  text-align: right;
  margin-right: 22px;
}

//查看详情页小标题
.blue-title {
  margin: 18px 19px 18px 21px;
  background: #f5f5f5;
  height: 40px;
  border-left: 4px solid #3c8ced;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 40px;
  text-indent: 10px;
}

//查看详情页内容
.detail-imf {
  margin: 20px 19px 18px 21px;
  padding-left: 16px;
  overflow: hidden;
  .main-dtl {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
  }
  li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    font-size: 14px;
    .tit {
      color: #1b1b1b;
    }
    .content {
      color: #5c5c5c;
    }
  }
  .pay-imf {
    margin: 19px 0 21px 0;
    font-size: 14px;
    font-weight: bold;
    color: #1b1b1b;
  }
}

.detail-imf {
  .main-dtl {
    border-bottom: 1px solid #efefef;
  }
  .each-item {
    float: left;
    width: 50%;
    li {
      width: 100%;
      .address {
        margin-top: 10px;
        width: 356px;
        margin-left: 74px;
      }
      .el-switch--wide {
        margin-left: 17px;
      }
    }
  }
  .img-box {
    width: 100%;
    li {
      position: relative;
      float: left;
      height: 102px;
      width: 102px;
      border: 1px solid #979797;
      margin-right: 18px;
      margin-bottom: 0;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
      }
      .tag {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.60);
        width: 100px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        color: #FFFFFF;
      }
    }
    .pdf-url {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100px;
      width: 100px;
    }
  }
}

/* 定义动画 */
.fade-enter-active, .fade-leave-active {
  transition: all .5s ease;
}

.fade-enter-active {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
}

/* 重要：定义初始状态 */
.fade-enter {
  opacity: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-group {
  margin-bottom: 19px;
}

.form-control {
  @include inlineBlock;
  width: 380px;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  color: #333;
  text-indent: .5em;
  background-color: #fff;
  background-image: none;
  border: 1px solid $fcd1d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: 0;
  overflow: visible;
  *width: 372px;
  *height: 34px;
  *line-height: 32px;
}

.form-area {
  width: 100%;
  padding: 10px;
  border: 1px solid $fcd1d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus, .form-area:focus {
  border-color: $fc3c8;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

//成功跳转
.revise-box-success {
  padding: 50px 0;
  width: 300px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  .success {
    display: block;
    margin: 0 auto;
  }
  .one {
    font-size: 15px;
    color: #1b1b1b;
    margin-top: 20px;
  }
  .two, .three {
    margin-top: 20px;
    font-size: 14px;
  }
  .two {
    color: #5c5c5c;
  }
  .three {
    color: #0c57bd;
  }
}

.el-pagination__editor {
  margin-top: -4px;
}

.corp-name-special {
  float: left;
  width: 300px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1b1b1b;
}

.el-btn-gray {
  .el-button {
    background-color: #84B4DC;
    //color: black;
    border: 0 solid #999;
  }
}

// 全局 上传 下载的 样式
.upload-module-g{
  //width:700px;
  padding:30px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  //margin-left:19px;
  i{
    @extend .icon-default-g;
  }
  .flie_item{
    font-size: 12px;
    color: #999;
    margin:5px 0;
    text-indent: 20px;
    .del {
      margin-right: 20px;
      float: right;
      cursor: pointer;
      i{
        width: 15px;
        height: 15px;
      }
    }
    .flie_name{
      //font-family: MicrosoftYaHei;
      font-size: 14px;
      color:#1b1b1b;
    }
  }
  .first {
    //font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #a9a9a9;
    letter-spacing: 0;
    line-height: 14px;
    text-align: left;
    margin: 0 auto;
    height: 40px;
    span {
      display: inline-block;
      margin-top: 13px;
      width: 100%;
      text-align: center;
    }
  }
  .upload-demo{
   text-align: center;
  }
  .upload-el{
    margin: 0 auto;
    width: 680px
  }
}
// 全局 样式 展示 文件名字  名字太长 ...
.flie-item-g{

}

.file-list {
  li {
    position: relative;
    margin: 10px 0 10px 0;
    a {
      font-size: 14px;
    }
  }
  .icon-del-g {
    width: 15px;
    height: 15px;
    cursor:pointer;
    //margin-right: 5px;
  }
  .icon-file {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .icon-delete{
    display: inline-block;
    height:16px;
    width:14px;
    background: url("../../assets/images/apply/delete.png") no-repeat 0/cover;
    cursor: pointer;
  }

  span {
    display: inline-block;
    font-size: 14px;
    color: #5c5c5c;
    vertical-align: middle;
  }
  .name {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    color: #1b1b1b;
  }
  .size, .date {
    width: 200px;
  }
  .file-preview, .download {
    float: right;
    color: #3c8ced;
    cursor: pointer;
    margin-right:5px;

  }
  .delete{
    float: right;
    color: #e65c5c;
    cursor: pointer;
    margin-right:5px;
  }
}

.icon-default-g{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

//删除按钮
.icon-del-g {
  background: url("../../assets/images/apply/delete.png") no-repeat 0/cover;
}

.icon-doc-g {
  background: url("../../assets/images/gd_ico/doc.png") no-repeat 0/cover;
}
.icon-jpg-g {
  background: url("../../assets/images/gd_ico/jpg.png") no-repeat 0/cover;
}
.icon-txt-g {
  background: url("../../assets/images/gd_ico/txt.png") no-repeat 0/cover;
}
.icon-ppt-g {
  background: url("../../assets/images/gd_ico/ppt.png") no-repeat 0/cover;
}
.icon-pdf-g {
  background: url("../../assets/images/gd_ico/pdf.png") no-repeat 0/cover;
}
.icon-xls-g {
  background: url("../../assets/images/gd_ico/xls.png") no-repeat 0/cover;
}

.bg-clear-g{
  background: transparent !important;
}


//花样滚动条
.scroll-beauty{
  ::-webkit-scrollbar {
    width:6px;
    height:10px;
  }
  ::-webkit-scrollbar-track{
  }
  ::-webkit-scrollbar-thumb{
    background: #c1c1c1;
    border-radius:4px;
  }
  ::-webkit-scrollbar-corner {
    background:#82AFFF;
  }

}
.scroll-hidden{
  ::-webkit-scrollbar {
    width:6px;
    height:10px;
  }
  ::-webkit-scrollbar-track{
  }
  ::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius:4px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

}



