
.frameCreate{
	width: 100%;
	position: relative;
	.frameCenter{
		width:714px;
		z-index: 100;
		margin: -32px 0 0 20px;
		padding: 10px 0 20px;
		background: #fff;
		// box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	}
	.frameCenter2{
		display: none;
	}
	.el-form{
		width: 420px;
		padding: 10px;
		.el-input__inner{
			width: 300px;
		}
	}
	.el-textarea__inner{
		width: 644px;
		height: 98px;
		resize:none;
	}
	.el-icon-loading{
		display: none;
	}
	.addType{
		font-size:14px;
		border:1px solid #d1d1d1;
		width:714px;
		height:97px;
		line-height: 97px;
		margin: -10px 0 0 20px;
		color:#5c5c5c;
		text-align:center;
		img{
			vertical-align: sub;
		}
	}
	.titielName{
		display: block;
		outline: none;
		text-align: center;
		border:0;
		font-size: 16px;
		color: #333;
		border-bottom: 1px solid #666;
		margin: 0 auto;
	}
	.lastBtn{
		width: 714px;
		margin-bottom: 50px;
	}
	.lastBtn{
		text-align: center;
		a{
			width: 100px;
			color: #fff;
		}
		.sub2{
			border: 0;
			color: #fff;
		}
	}
	.topName{
		text-align: center;
	}
	.preview{
		width:40%;
		z-index: 100;
		margin: 40px auto;
		padding: 20px 20px;
		background: #fff;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
		display: none;
	}
	.suspension{
		width: 150px;
		background:#fff;
		position: relative; 
		left: 82%;
		top: -198px;
		ul{
			padding: 0;
			margin: 0;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
			li{
				padding-left: 10px;
				line-height: 40px;
				cursor: pointer;
				color: #3c8ced;
				&:hover{
					background: #f3f3f3;
				}
				.jiantou{
					display: block;
					margin: 0 auto;
				}
			}
			li:first-child{
				background: #3c8ced;
				color: #fff;
			}
		}
	}
	[draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
    li {
      color: black;
    }
    .dragging {
      opacity: 0.8;
      color: #6894D1;
    }
    .drag-over {
      text-decoration: underline;
    }
    .drag-enter {
      color: #C93742;
    }
    .cover{
    	width: 200px;
    	height: 200px;
    	line-height: 200px;
    	background: #e2e2e2;
    	text-align: center;
    	position: fixed; 
    	left: 50%;
    	top: 50%;
        transform: translate(-50%, -50%);
    }
    .am-ucheck-icons{
		position: absolute;
    	top: -3px;
    }
    .el-button.is-disabled.is-plain{
    	background: #666;
	    color: #fff;
    }
    // .el-button.is-plain:active{
    // 	background: #3c8ced;
    // }
    .el-button--default:hover{
		background: #3c8ced;
		color: #fff;
    }
     .el-button--default:link{
		background: #ff6600;
		color: #fff;
    }
     .el-button--default:visited{
		background: #ff6600;
		color: #fff;
    }
}
.preview{
	background: #fff;
	padding: 40px 0;
	margin-top: 20px;
}
.warning_tips{
	width:714px;
    height:70px;
    margin: 20px auto 0;
    padding: 20px 30px 20px 15px;
	border: 1px solid #e2e2e2;
	font-size:12px;
	color:#666666;
	img{
		position: absolute;
	}
	.miaoshu{
		margin-left: 44px;
	}
}
.tuichu{
	width: 714px;
    margin: 0 auto 50px;
    text-align: center;
}