.bgfff {
  background: #FFFFFF;
}

.bgf1b {
  background: #f1b846;
}

.bg55b {
  background: #55b65f;
}

.bge65 {
  background: #e65c5c;
}

.fc3c8 {
  color: #3c8ced;
}
.fc1b1{
  color: #1b1b1b;
}
.fce65{
  color: #e65c5c;
}
.fca9a{
  color: #a9a9a9;
}

.fc5c5 {
  color: #5c5c5c;
}
.cp{
  cursor: pointer;
}
.mr20 {
  margin-right: 20px;
}

.ml10 {
  margin-left: 10px;
}
.mt5{
  margin-top:5px;
}
.mt10{
  margin-top:10px;
}
.fs14 {
  font-size: 14px;
}
.fs20{
  font-size:20px;
}
//灰线
.grey-border {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background: #eaeaea;
}


.gd-box {
  // 合同上传文件样式
  .file-upload-start-contract-scan {
    position: relative;
    .el-button{
      position: absolute;
      left: 150px;
      top:-8px;
      background-color: #fff;
      color: #20a0ff;
      border: 0px solid transparent;
      font-size: 14px;
      margin-left: -10px;
    }
  }
  //常规的合同上传的样式
  .file-upload-work-nomal{
    position: relative;
    .file-note{
      position: absolute;
      left: 80px;
      //top: 10px;
    }
    .el-button{
      background-color: #fff;
      color: #20a0ff;
      border: 0px solid transparent;
      font-size: 14px;
      margin-left: -21px;

      padding-top: 0px;
      padding-bottom: 0px;
      height: auto;
    }
  }




  border: 1px solid #efefef;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
  margin-bottom:20px;
  .title {
    position: relative;
    padding: 12px 140px 0 20px;
    background: #eaeaea;
    border-bottom: 1px solid #eaeaea;
    height: 58px;
    line-height: 32px;
    text-align: left;

    .tit-gbxm{
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_gbxm.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .zzms{
      position: absolute;
      font-size: 14px;
      top: 15px;
      left: 170px;
      color: #5c5c5c;
    }
    .tit-sywj {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_sywj.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-fqns {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_fqns.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-qrwj {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_qrwj.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-fqht {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_fqht.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-fqzf {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_fqzf.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-fsbd {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_fsbd.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-fstz {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_fstz.png") no-repeat 0/cover;
      vertical-align: middle;
    }
    .tit-fswj {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url("../images/gd_ico/tit_fswj.png") no-repeat 0/cover;
      vertical-align: middle;
    }

    .describe {
      font-size: 14px;
      color: #5c5c5c;
      vertical-align: middle;

    }
    .top-title{
      .el-input{
        width:200px;
      }

    }
    .return {
      float: right;
      display: inline-block;
      font-size: 14px;
      color: #3c8ced;
      border: 1px solid #3c8ced;
      border-radius: 2px;
      width: 122px;
      height: 36px;
      line-height: 34px;
      text-align: center;
      margin-right: 10px;
      cursor: pointer;
    }
    .status {
      position: absolute;
      top: 0;
      right: 0px;
      width: 140px;
      height: 58px;
      line-height: 58px;
      text-align: center;
      color: #FFFFFF;
      font-size: 14px;
      span {
        vertical-align: middle;
      }
    }
    .icon-status {
      display: inline-block;
      height: 16px;
      width: 16px;
      vertical-align: middle;
    }
    .icon-having {
      background: url("../images/gd_ico/having.png") no-repeat 0/cover;
    }
    .icon-wait {
      background: url("../images/gd_ico/wait.png") no-repeat 0/cover;
    }
    .icon-refuse {
      background: url("../images/gd_ico/refuse.png") no-repeat 0/cover;
    }
    .icon-yes {
      background: url("../images/gd_ico/yes.png") no-repeat 0/cover;
    }

  }
  .content {
    padding: 10px 20px;
    .actual-cost{
      float: left;
      font-size:14px;
      margin-top:14px;
      width: 58px;
      text-align: right;
      font-size: 14px;
      color: #5c5c5c;
      margin-right: 20px;
    }
    .input-tit{
      margin-top:8px;
      height:35px;
      span,input{
        vertical-align: middle;
      }

    }
    .input-item {
      p {
        margin-bottom: 20px;
      }
      .tit {
        float: left;
        display: inline-block;
        width: 58px;
        text-align: right;
        font-size: 14px;
        color: #5c5c5c;
        margin-right: 20px;
      }

      .el-textarea {
        float: left;
        width: 810px;
      }
    }
    .tips {
      display: inline-block;
      padding: 7px 8px;
      background: #fef0d2;
      border-radius: 6px;
      font-size: 12px;
      color: #1b1b1b;
      margin-bottom: 10px;
    }
    .not-upload {
      margin: 30px 0;
      text-align: center;
      .icon-notup {
        display: inline-block;
        width: 14px;
        height: 15px;
        background: url("../images/gd_ico/not_upload.png") no-repeat 0/cover;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        font-size: 14px;
        color: #5c5c5c;
      }
    }
    .file-list {
      li {
        position: relative;
        margin: 10px 0 15px 0;
        a {
          font-size: 14px;
        }
      }
      .icon-file {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
      .icon-doc {
        background: url("../images/gd_ico/doc.png") no-repeat 0/cover;
      }
      .icon-jpg {
        background: url("../images/gd_ico/jpg.png") no-repeat 0/cover;
      }
      .icon-txt {
        background: url("../images/gd_ico/txt.png") no-repeat 0/cover;
      }
      .icon-ppt {
        background: url("../images/gd_ico/ppt.png") no-repeat 0/cover;
      }
      .icon-pdf {
        background: url("../images/gd_ico/pdf.png") no-repeat 0/cover;
      }
      .icon-xls {
        background: url("../images/gd_ico/xls.png") no-repeat 0/cover;
      }
      .icon-delete{
        display: inline-block;
        height:16px;
        width:14px;
        background: url("../images/gd_ico/delete.png") no-repeat 0/cover;
        cursor: pointer;
      }

      span {
        display: inline-block;
        font-size: 14px;
        color: #5c5c5c;
        vertical-align: middle;
      }
      .name {
        //width: 350px;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        color: #1b1b1b;
      }
      .size, .date {
        width: 200px;
      }
      .file-preview, .download {
        float: right;
        color: #3c8ced;
        cursor: pointer;
        margin-right:5px;

      }
      .delete{
        float: right;
        color: #e65c5c;
        cursor: pointer;
        margin-right:5px;
      }
    }
    .deny, .detail {
      margin-top: 10px;
      .icon-deny {
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url("../images/gd_ico/state4.png") no-repeat 0/cover;
        vertical-align: middle;
      }
      .icon-pass {
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url("../images/gd_ico/state5.png") no-repeat 0/cover;
        vertical-align: middle;
      }
      .icon-remarks {
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url("../images/gd_ico/remarks.png") no-repeat 0/cover;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        font-size: 14px;
        color: #5c5c5c;
      }
    }
    .examine-box {
      .check-result {
        .tit {
          display: inline-block;
          font-size: 14px;
          color: #1b1b1b;;
          width: 100px;
        }
      }
      .note {
        margin-top: 20px;
        .tit {
          display: inline-block;
          font-size: 14px;
          color: #1b1b1b;;
          width: 100px;
          float: left;
          text-indent: 9px;
        }
        .el-textarea {
          float: left;
          width: 478px;
          margin-bottom: 10px;
        }
      }
    }
    .chooose-file {
      margin-top: 10px;
      .tit {
        width: 100%;
        font-size: 14px;
        color: #a9a9a9;
        text-align: left;
        margin-bottom:20px;
      }
      .orange-btn {
        display: inline-block;
        margin-bottom: 10px;
        .el-button {
          background: #ffffff;
          border: 1px solid rgba(255, 121, 4, 1.00);
          border-radius: 4px;
          width: 96px;
          height: 36px;
          font-size: 14px;
          color: rgba(255, 121, 4, 1.00);
          line-height: 14px;
          text-align: center;
          margin-right:0;
        }

      }
      .upload-btn{
        height:auto;
        padding:0;
        margin-right:20px;
        font-size:14px;
        margin-top:-3px;
        min-width:0;
      }
      .el-button--text:hover{
        color: #20a0ff;
      }
    }
    .message-box{
      background:#e1efff;
      height:40px;
      line-height:40px;
      padding-left:7px;
      margin:10px -20px -20px -20px;
      .icon-message{
        display: inline-block;
        height:14px;
        width:14px;
        background: url("../images/gd_ico/state1.png") no-repeat 0/cover;
        vertical-align: middle;
      }
      span{
        display: inlne-block;
        vertical-align: middle;
        font-size:12px;
        color:#5c5c5c;
      }
      .send-msg{
        margin-left:10px;
        cursor: pointer;
        color: #3c8ced;
      }
      .count{
        margin-top: -3px;
        display: inline-block;
      }
    }
    .form-box{
      background: #fff;
      margin-top:20px;
      .answer{
        margin-left:35px;
      }
    }
    .sign-flow{
      background: #f5f5f5;
      padding:18px 4px 16px 24px;
      margin-top:10px;
      margin-bottom:20px;
      li{
        position: relative;
        height:42px;
        float: left;
      }
      .step-content{
        width:215px;
        color: #5c5c5c;
        font-size:12px;
        padding:5px 0 5px 50px;
        height:42px;
      }
    }
    .icon-step{
      position: absolute;
      top:0;
      left:0;
      display: inline-block;
      height:42px;
      width:42px;
    }
    .first-step{
      background: url("../images/gd_ico/first-step.png") no-repeat;
    }
    .second-step{
      background: url("../images/gd_ico/second-step.png") no-repeat;
    }
    .third-step{
      background: url("../images/gd_ico/third-step.png") no-repeat;
    }
    .fourth-step{
      background: url("../images/gd_ico/fourth-step.png") no-repeat;
    }
  }

  .btn-box {
    margin-top: 20px;
    text-align: center;
  }
  .custom-btn {
    height: 41px;
    width: auto;
    margin-right: 41px;
    .el-button{
      height:38px;
    }
  }
  .custom-btn-comfirm{
    .el-button {
      min-width: 97px;
    }
  }


  /*.is-required:before {
    content: '*';
    color: #ff4949;
    margin-right: 4px;
  }*/
  .pay-state{
    display: inline-block;
    width:400px;
  }
  .express{
    display: inline-block;
    margin-left:80px;
    margin-bottom:5px;
  }
  .el-button{
    padding:10px 21px;
    height:38px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
  }
  .el-input{
    width:auto;
  }

}
