<app-header #headerwf [title]="title" [message]="message" [run]='run' [home]='this'></app-header>

<h2 (click)="getChildMsg()">获取子组件的msg</h2>
<h2>执行子组件的方法</h2>
<p>引入图片</p>

<img src="assets/images/add_yhq.png" alt="">
<img [src]="pic" alt="">

<div>
  <h3> *ngFor循环数据，显示key</h3>

  <ul>
    <li *ngFor="let item of list;let key=index;">
      <span class="act" *ngIf="key==1">{{key}} -----{{item.title}}</span>
      <span class="act2" *ngIf="key!==1">{{key}} -----{{item.title}}</span>
    </li>
  </ul>
</div>
<br>

<h3>条件语句 *ngIf</h3>

<div *ngIf="flag">xianshi</div>
<div *ngIf="!flag">不xianshi</div>


<h3>*ngSwitch</h3>
<span [ngSwitch]="orderStatus">
  <p *ngSwitchCase="1">
    已支付
  </p>
  <p *ngSwitchCase="2">
    未支付
  </p>
  <p *ngSwitchCase="2">
    已取消
  </p>
  <p *ngSwitchDefault>
    已完成
  </p>
</span>



<h3>属性[ngClass] | [ngStyle]</h3>

<div class="red">
  ngClass演示 （尽量不要用dom来改变class）
</div>

<div [ngClass]="{'red':true}">123123</div>

<ul>
    <li *ngFor="let item of list;let key=index;" [ngClass]="{red:key==0}">
        {{key}} -----{{item.title}}
    </li>
  </ul>

  <div [ngStyle]="{'color':'yellow'}">页面style样式</div>
  <div [ngStyle]="{'color':heightLight}">页面style样式</div>

  <h3>管道</h3>
  bbs.itying.com/topic/5bf519657e9f5911d41f2a34

  <div>{{cas | portrait}}</div>
  <div>{{today | date:'yyyy-MM-dd HH:mm:ss'}}</div>
  <div>{{count | number:'1.2-4'}}</div>

  <h3>事件</h3>

  <button (click)="run()">点击</button>

  <div (click)="getDate($event)">执行方法获取数据</div>

  <h3>表单事件</h3>
  <!-- <input type="text" (keydown)="keyDown()"> -->
  <input type="text" (keydown)="keyDown($event)">
  <br>
  <input type="text" (keyup)="keyUp($event)">

  <h3>双向数据绑定-------MVVM 只是针对表单</h3>

  <input type="text" [(ngModel)]="keywords" />
  <div>{{keywords}}</div>


