<div>
  <input type="text" [(ngModel)]="searchValue">
  <button (click)="search()">搜索</button>
</div>

<div>
  <ul>
    <li *ngFor="let item of list;let key=index">{{item}} <button (click)="del(key)">X</button>
    </li>
  </ul>
</div>

<!-- 
<h2>todolist</h2>

<div>
    <input type="text" [(ngModel)]="keywords" (keyup)="doAPP($event)">
  </div>
  
  <div>
    <h5>待办事项</h5>
    <ul>
      <li *ngFor="let item of todoList;let key=index" [hidden]="item.status == 0">{{item.title}} <button (click)="del(key)">X</button>
      </li>
    </ul>
    <h5>已完成事项</h5>
    <ul>
      <li *ngFor="let item of todoList;let key=index">{{item.title}} <button (click)="del(key)">X</button>
      </li>
    </ul>
  </div> -->

