@import "config.scss";
.park-list {
  background: #FFFFFF;
  .top-slider {
    background: url("../images/showApply/banner_park_bg.jpg") center top no-repeat;;
  }
  .parkRecommend {
    ul {
      margin-right: -66px;
      *margin-right: 0;
      li {
        float: left;
        width: 356px;
        height: 289px;
        text-align: center;
        margin-right: 66px;
        border: 1px solid #d1d1d1;
        margin-bottom: 30px;
        *margin: 20px;
        .recommendTitle {
          margin: 26px 0;
          color: #5c5c5c;
        }
      }
    }
  }
  .park_title {
    font-size: 24px;
    color: #1b1b1b;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .park {
    padding: 0 25px;
    zoom: 1;
    margin-top: 62px;
    li {
      width: 300px;
      height: 306px;
      float: left;
      border: 1px solid #0e4d99;
      border-top: 10px solid #0e4d99;
      background: #fff;
      text-align: center;
      .parkIcon {
        margin-top: 25px;
      }
      .parkListTitle {
        font-size: 20px;
        font-weight: bold;
        margin-top: 34px;
      }
      .parkInfo {
        font-size: 14px;
        margin-top: 28px;
      }
    }
    li.center {
      margin: -25px 125px 0 125px;
      height: 350px;
    }
    .cover {
      margin: 0 35px;
    }
  }
}
.min-width{
	width: 1200px;
	margin: 0 auto;
}