<!doctype html>
<html ng-app>		<!--ng-app  脚本作用域可以局部在div-->
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<script src="js/angular-1.0.1.min.js"></script>
</head>
<body>
Your name: <input type="text" ng-model="yourname" placeholder="">
<!--文本输入指令<input ng-model="yourname" />绑定到一个叫yourname的模型变量。-->
<hr>
Hello {{yourname || '55555'}}!
<!--双大括号标记将yourname模型变量添加到问候语文本。-->
您键入的名称将立即更新显示在问候语中。 这就是AngularJS双向数据绑定的概念。
输入框的任何更改会立即反映到模型变量（一个方向），模型变量的任何更改都会立即反映到问候语文本中（另一方向）。
</body>
</html>

