<!doctype html>
<html ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<script src="js/angular-1.0.1.min.js"></script>
</head>
<body >
<div class="ml" ng-controller="myname">
	<ul>
		<input type="text" ng-model="firstname"/>
		<input type="text" ng-model="secname"/>
		<li>{{firstname+secname}}</li>
	</ul>
</div>
<script>
	function myname($scope){
		$scope.firstname="11";
		$scope.secname="22";
		$scope.fgh=function(){

			return $scope.firstname+$scope.secname
		}
	}
</script>
</body>
</html>

