<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>创建期</title>
</head>
<body>
<script src="../../build/react.js"></script>
<script src="../../build/react-dom.js"></script>
<script src="../../build/browser.min.js"></script>
<script src="https://static.zhong.com/pc/skin/js/jquery-1.11.2.js"></script>

<div id="zs1"></div>


<script type="text/babel">
//创建一个新闻列表
var News=React.createClass({
    //初始状态
    getInitialState:function(){
//        console.log(this.props.news)
      return {
          //子组件有属性数据，因此我们可以根据属性数据更新状态数据
          list:this.props.news
      }
    },
    //创建列表
    creatList:function(){
        return (
                this.state.list.map(function(v,i){
                    return <li key={i}>{v}</li>
                })
        )
    },
    //跟新数据
    updateNews:function(){
        $.get("data.json",function(data){
//            console.log(data[0].name)
            return this.setState({list:data.name})
        }.bind(this))
    },
    //存在期第一阶段
    componentWillReceiveProps:function(nextProps){
        console.log("第一阶段",nextProps,this)
        this.setState({list:nextProps.news})
    },
    //第二阶段
    shouldComponentUpdate:function(nextProps,nextState){
        return true
    },
    //第三阶段
    componentWillUpdate:function(){

    },
    render:function(){
        return (
                <div className="news">
                    <span onClick={this.updateNews}>换一换</span>
                    <ul>{this.creatList()}< / ul >
                </div>
        )
    }
});
//创建父组件
    var Parents=React.createClass({
        getInitialState:function(){
          return ({news:['朝鲜柳京饭店竣工', '玄彬姜素拉热恋', '黄轩被曝恋情']})
        },
        updateNewsDate:function(){
            $.get("data2.json",function(data){
                console.log(data)
            }.bind(this))
        },
        render:function(){
            return(
                <div>
                    <span onClick={this.updateNewsDate}>换一换</span>
                    <News news={this.state.news}></News>
                </div>
            )
        }
    });
    ReactDOM.render(<Parents />,zs1)
</script>
</body>
</html>
