    body,
    div,
    p,
    ul,
    li,
    h3 {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        display: block;
        width: 100%;
    }
    
    body {
        background: #FFEDDF;
    }
    
    .regs {
        background: url(../img/bg.jpg) repeat-y;
        background-size: 7.5rem 0.04rem;
    }
    
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .oper-box {
        width: 6.22rem;
        margin: auto;
        padding: 0.2rem 0 0.3rem;
    }
    
    .oper-box .ipt {
        margin: 0.35rem 0 0.3rem;
    }
    
    .oper-box .phone {
        margin-top: 0;
    }
    
    .oper-box input {
        display: inline-block;
        background: #fff;
        height: 0.79rem;
        line-height: 0.79rem;
        border: none;
        outline: 0;
        font-size: 0.3rem;
        padding-left: 0.18rem;
        margin-bottom: 0;
        border-radius: 0.5rem;
    }
    
    .oper-box input:nth-child(2) {
        width: 3.2rem;
    }
    
    .control-group input {
        width: 3.72rem;
    }
    
    .oper-box a.ver {
        width: 2.13rem;
        font-size: .26rem;
        line-height: .79rem;
        height: .79rem;
        float: right;
        color: #ea584d;
    }
    
    .oper-box .btn-bind {
        display: block;
        width: 6.02rem;
        height: 0.86rem;
        margin: 0.3rem auto;
    }
    
    .oper-box .btn-bind>img {
        display: inline-block;
        width: 100%;
        margin: auto;
    }
    
    .btn-none {
        display: none;
    }
    
    #btnGetImg>img {
        width: 100%;
    }
    
    .control-group .control-btn {
        display: block;
        text-align: center;
        border-radius: .1rem;
        background: #fff;
        border-radius: 0.5rem;
    }
    
    input::-webkit-input-placeholder {
        color: #dcc9c5;
    }
    
    input::-moz-placeholder {
        color: #dcc9c5;
    }
    
    input::-ms-input-placeholder {
        color: #dcc9c5;
    }
    
    .oper-box a.argu {
        display: inline-block;
        width: 4.48rem;
    }
    
    .oper-box a.argu>img {
        display: block;
        width: 4.48rem;
    }
    
    .rule {
        width: 6.5rem;
        margin: auto;
    }
    
    .rule p {
        color: #b23620;
        font-size: 0.24rem;
        line-height: 0.4rem;
        margin: 0 0.3rem;
    }
    
    .rule>img {
        width: 100%;
        display: block;
        margin: 0.3rem 0;
    }
    
    .step {
        padding-bottom: 0.2rem;
    }
    
    .step>img {
        width: 100%;
        display: block;
    }
    
    .park {
        margin: 0.3rem 0.28rem;
        position: relative;
    }
    
    .img-list {
        margin: 0.1rem 0;
    }
    
    .img-list .l-item {
        width: 7.5rem;
        height: 3rem;
        margin: 0.2rem 0;
    }
    
    .img-list .l-item a.l-img>img {
        width: 7.5rem;
        height: 3rem;
    }
    
    .wrapper-toast {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        background-size: 2.52rem 2.86rem;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
    }
    
    .wrapper-toast p {
        font-size: 0.3rem;
        width: 6rem;
        height: 0.6rem;
        margin: 7rem auto;
        background: #adabab;
        border-radius: 0.1rem;
        text-align: center;
        line-height: 0.6rem;
    }