body {
    background: url(../img/m_bg.jpg) repeat-y;
    background-size: 7.5rem 0.05rem;
}

#app {
    font-size: 0.28rem;
}
.head,.heade, .headed, .dj {
    position: relative;
}
.head a.home {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.26rem;
    width: 1.22rem;
    height: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
}
.heade a.record {
    width: 0.96rem;
    height: 0.3rem;
    position: absolute;
    right: 0.3rem;
    top: 0.6rem;
}
.heade a.invite {
    width: 4.98rem;
    height: 0.8rem;
    position: absolute;
    left: 1.25rem;
    top: 2.7rem;
    border-radius: 0.5rem;
}
.headed a.download {
    width: 1.62rem;
    height: 0.45rem;
    position: absolute;
    right: 0.47rem;
    top: 0.5rem;
    border-radius: 0.5rem;
}
.dj, .seckill, .sec {
    margin-bottom: 0.4rem;
}
.dj a.go_1 {
    width: 3.06rem;
    height: 3.3rem;
}
.dj > a {
    position: absolute;
    top: 0;
    left: 0.2rem;
}
.dj a.go_2,.dj .go_3 {
    width: 3.93rem;
    height: 1.6rem;
}
.dj a.go_2 {
    left: 3.38rem;
}
.dj a.go_3 {
    top: 1.7rem;
    left: 3.38rem;
}
.secs {
    margin-top: 0.3rem;
    position: relative;
}
.secs a {
    width: 1.21rem;
    height: 0.34rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 1.06rem;
    left: 0.36rem;
}
.secs a.secs_2 {
    top: 2.74rem;
    left: 0.36rem;
}
.secs a.secs_3 {
    top: 4.45rem;
    left: 0.36rem;
}
.secs a.secs_4 {
    top: 2.74rem;
    left: 5.16rem;
}
.secs a.secs_5 {
    top: 4.45rem;
    left: 4.42rem;

}

.field-time {
    display: flex;
    font-size: 0.28rem;
    height: 1.18rem;
    padding: 0 0.2rem;
}

.field-time li {
    flex: 1;
    text-align: center;
    height: 1rem;
    line-height: 0.4rem;
    padding-top: 0.17rem;
    background:#F1ECE9;
    margin-right: 0.05rem;
}
.field-time li:last-child {
    margin-right: 0;
}

li.field-time-current {
    background: #ffce54;
    color: #ffffff;
}

.instruction {
    padding: 0 0.35rem;
    height: 0.74rem;
    line-height: 0.74rem;
    display: flex;
    justify-content: space-between;
    background:#f8f8f8;
    margin: -0.01rem 0.2rem 0;
}

li.end-bg-color {
    background: #c7bbb2;
    color: #ffffff;
}

li.future-bg-color {
    background: #dedede;
}

.w {
    margin-right: 0.3rem;
}

.w > span {
    color: #ff9139;
}

[v-cloak] {
    display: none;
}

.sale-five .sale-end {

}
/*商品推荐*/
.lists {
    display: inline-block;
    float: left;
    margin: 0.2rem;
}

.lists > .lists-ads {
    width: 3rem;
    height: 4.65rem;  
    margin: 0.2rem 0.1rem 0.35rem;    
}
.lists .pro-img {
    width: 3rem;
    height: 2.7rem;
}
.lists .pro-img > img {
    width: 3rem;
    height: 2.7rem;
}
 
 .sale .lists .lists-ads .pro-detail .pro-title {
    display: block;
    font-size: 0.28rem;
    line-height: 0.35rem;
    margin: 0.2rem 0 0.1rem;
    width: 3rem;
    height: 0.4rem;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    -webkit-box-orient: vertical; 
    padding-left: 0.02rem;
    color: #222;
}
.lists .pro-price {
    margin: 0.1rem 0;
}
.lists .pro-btn {
    width: 3rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #ff9139;
    font-size: 0.36rem;
    display: block;
    margin: 0.15rem 0 0.2rem;
}
.lists .pro-btn p {
    line-height: 0.7rem;
}
.rule {
    background: url(../img/rule_bg.jpg) repeat-y;
    background-size: 7.5rem 0.1rem;
    padding: 0.2rem 0 0.3rem;
}

.rule p {
    line-height: 0.5rem;
    font-size: 0.24rem;
    padding: 0 0.58rem;
}

.content .goodsDetail {
    padding: 0 0.2rem;
}

.goodsDetail .list {
    display: inline-block;
    width: 2.22rem;
    height: 4.65rem;
    border: 1px solid #eee;
    margin: 0.05rem;
}

.goodsDetail .list .pro-img {
    width: 2.22rem;
    height: 2.22rem;
}
.goodsDetail .list .pro-img img {
    width: 2.22rem;
    height: 2.22rem;
}
.goodsDetail .list .pro-detail {
    overflow: hidden;
}

.goodsDetail .list .pro-detail .pro-title {
    font-size: 0.28rem;
    line-height: 0.42rem;
    margin: 0.2rem 0.1rem 0.1rem;
    width: 2.1rem;
    height: 0.78rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pro-price {
    display: inline-block;
    margin-top: 0.2rem;
    width: 2.22rem;
    padding-left: 0.1rem
}
.pro-price > span{
    color: #cd2b00;
    margin-right: 0.1rem;
    font-size: 0.2rem;
}
.pro-price > span > em {
    font-size: 0.32rem;
    font-style: normal;
}
.pro-price > del {
    font-size: 0.18rem;
    color: #b6b6b6;
}
.pro-price  i {
    font-style: normal;
    font-size: 0.2rem;
}

.pro-oldPrice {
    color: #5a5a5a;
}

.pro-btn {
    width: 1.67rem;
    height: 0.42rem;
    line-height: 0.42rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff;
    font-size: 0.24rem;
    margin: 0.28rem;
}
.btn-buy {
    width: 1.67rem;
    height: 0.42rem;
    line-height: 0.42rem;
    border-radius: 0.4rem;
    background: #ff9139;
    text-align: center;
    color: #fff;
}
.pro-btn p {
    line-height: 0.42rem;
}

.pro-btn .btn-before {
    width: 1.67rem;
    height: 0.42rem;
    line-height: 0.42rem;
    background: #dedede;
    color: #222;    
    border-radius: 0.5rem;
}
div.btn-end {
    width: 1.67rem;
    height: 0.42rem;
    line-height: 0.42rem;
    background: #c7bbb2;
     border-radius: 0.5rem;
}
.pro-btn p.btn-over {
    background: #db9964;
    color: #fff;
    border-radius: 0.5rem;
}

/*tip*/
.m-alert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 20;
}

.m-cont {
    height: 2.82rem;
    width: 4.8rem;
    background: #ffebdc;
    margin: 85% 18.5%;
    position: relative;
    border-radius: 0.15rem;
}
.m-cont p {
    font-size: 0.3rem;
    color: #3d1a00;
    text-align: center;
    line-height: 2rem;
}
.m-cont p.m-so {
    line-height: 0.4rem;
    padding-top:0.6rem;
}
.m-cont a {
    width: 3.59rem;
    height: 0.66rem;
    background: url(../img/bt.png) no-repeat;
    background-size: 3.59rem 0.66rem;
    line-height: 0.66rem;
    border-radius: 0.5rem;
    font-size: 0.32rem;
    color: #ffebdc;
    position: absolute;
    bottom: 0.33rem;
    left: 0.57rem;
    text-align: center;
}
.m-alert p.over {
    font-size: 0.3rem;
    width: 6rem;
    height: 0.6rem;
    margin: 7rem auto;
    background: #adabab;
    border-radius: 0.1rem;
    text-align: center;
    line-height: 0.6rem;
}
