<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>vue</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<div id="textVal">
	<!--文本-->
	<input type="text" v-model="message01">
	<p>{{message01}}</p>
	<!--在文本区域插值( <textarea></textarea> ) 并不会生效，应用 v-model 来代替-->
	<textarea name="" id="" cols="30" rows="10" v-model="text_area"></textarea>
	<p>文本域：{{text_area}}</p>
	<!--复选框-->
	<input type="checkbox" v-model="moreCheck" id="jack" value="Jack">
	<label for="jack">Jack</label>
	<input type="checkbox" v-model="moreCheck" id="allis" value="Allis">
	<label for="allis">Allis</label>
	<p>选中的元素有{{moreCheck}}</p>
	<!--单选框-->
	<input type="radio" value="男" id="boy" v-model="sex">
	<label for="boy">男</label>
	<input type="radio" value="女" id="girl" v-model="sex">
	<label for="girl">女</label>
	<p>性别:{{sex}}</p>

</div>
<script>
    var vm = new Vue({
        el:"#textVal",
        data:{
            message01:"",
            "text_area":"",
            moreCheck:[],
            sex:""
        }
    })
</script>


</body>
</html>

