<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>vue</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
	<select name="" value="上海" v-model="selectData" multiple>
		<option value="北京">北京</option>
		<option value="武汉">武汉</option>
		<option value="添加">添加</option>
		<option value="上海1">上海</option>
		<option value="北京2">北京</option>
		<option value="武汉3">武汉</option>
		<option value="添加4">添加</option>
	</select>
	<p>你选的是{{selectData}}</p>
</div>
<script>
	var vm=new Vue({
	    el:"#app",
		data:{
			selectData:"上海1"
		}
	})
</script>

<!--动态渲染-->
<div id="app2">
	<select v-model="selected">
		<option v-for="option in options" :value="option.value" >{{option.text}}</option>
	</select>
	<p>{{selected}}</p>
</div>
<script>
	var vm2=new Vue({
	    el:"#app2",
		data:{
	        selected:"B",
			options:[
				{text:"one",value:"A"},
				{text:"two",value:"B"},
				{text:"three",value:"C"},
			]
		}
	})
</script>
</body>
</html>

