@import "config";

.pagewrapper {
  min-width: 1200px;
}

.fcred {
  color: $fcred;
}

.bgf5f {
  background-color: $fcf5f;
}

.bgfff {
  background: #FFFFFF;
}

.bb-efe {
  border-bottom: 1px solid #efefef
}

.bgf6f {
  background: #f6f6f6
}

.bg9bb {
  background: #9bbbdf
}

.bg74b {
  background: #74b4fb
}

.bg648 {
  background: #6480e8
}

.bg98c {
  background: #98c6f9
}

.bg779 {
  background: #779ef8
}

.bg8c7 {
  background: #8c77f8
}

.fc175 {
  color: #175a99
}

.fc7e7 {
  color: #7e7e7e
}

.fc1d1 {
  color: #1d1d1d
}

.fc5c5 {
  color: #5c5c5c
}

.fc000 {
  color: #000
}

.fcfff {
  color: #fff
}

.fca3a {
  color: #a3a4a4
}

.fc7e7 {
  color: #7e7e7e
}

.fcb2b {
  color: #b2b2b2
}

.fc3c8 {
  color: #3c8ced
}

.fs12 {
  font-size: 12px
}

.fs13 {
  font-size: 13px
}

.fs14 {
  font-size: 14px
}

.fs16 {
  font-size: 16px
}

.fs18 {
  font-size: 18px
}

.fs20 {
  font-size: 20px
}

.fs24 {
  font-size: 24px
}

.fs32 {
  font-size: 32px
}

.fw-bold {
  font-weight: 700
}

.ml40 {
  margin-left: 40px
}

.lh34 {
  line-height: 34px
}

.lh23 {
  line-height: 24px
}

.mb25 {
  margin-bottom: 25px
}

.mr45 {
  margin-right: 45px
}

.bg3c8 {
  background: #3c8ced
}

.cp {
  cursor: pointer
}

.of-hidden {
  overflow: hidden
}

a {
  color: $fc3c8;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both
}

.clearfix {
  zoom: 1
}

.fl {
  float: left
}

.fr {
  float: right
}

.pt10 {
  padding-top: 10px
}

.pt20 {
  padding-top: 20px
}

.pr10 {
  padding-right: 10px
}

.pr20 {
  padding-right: 20px
}

.pb10 {
  padding-bottom: 10px
}

.pb20 {
  padding-bottom: 20px
}

.pb50 {
  padding-bottom: 50px
}

.pb80 {
  padding-bottom: 80px
}

.pl10 {
  padding-left: 10px
}

.pl20 {
  padding-left: 20px
}

.plr10 {
  padding: 0 10px
}

.plr20 {
  padding: 0 20px
}

.ptb10 {
  padding: 10px 0
}

.ptb20 {
  padding: 20px 0
}

.p10 {
  padding: 10px
}

.p20 {
  padding: 20px
}

.mt5 {
  margin-top: 5px
}

.mt10 {
  margin-top: 10px
}

.mt20 {
  margin-top: 20px
}

.mt25 {
  margin-top: 25px
}

.mr10 {
  margin-right: 10px
}

.mr20 {
  margin-right: 20px
}

.ml10 {
  margin-left: 10px
}

.ml20 {
  margin-left: 20px
}

.mb10 {
  margin-bottom: 10px
}

.mb20 {
  margin-bottom: 20px
}

.mb30 {
  margin-bottom: 30px
}

.mb50 {
  margin-bottom: 50px
}

.mb60 {
  margin-bottom: 60px
}

.mb70 {
  margin-bottom: 70px
}

.mb100 {
  margin-bottom: 100px
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
}

.btn-default {
  color: $fc333;
  background-color: $fcfff;
  border-color: $fcd1d;
  width: 146px;
  height: 52px;
  line-height: 52px;
  &:hover {
    color: $fcfff;
    background-color: $fc3c8;
    border-color: $fc3c8;
  }
}

.btn-default_blue {
  color: $fc3c8;
  background-color: $fcfff;
  border-color: $fc3c8;
  width: 96px;
  height: 36px;
  line-height: 36px;
  &:hover {
    color: $fcfff;
    background-color: $fc3c8;
    border-color: $fc3c8;
  }
}

.btn-blue {
  color: $fcfff;
  background-color: $fc3c8;
  border-color: $fc3c8;
  width: 142px;
  height: 42px;
  line-height: 42px;
  &:hover {
    background-color: $fc0c5;
    border-color: $fc0c5;
  }
}

.btn-hui {
  color: $fcfff;
  background-color: #a5a5a5;
  border-color: #a5a5a5;
  width: 142px;
  height: 42px;
  line-height: 42px;
}

.btn-prohibit {
  color: $fcfff;
  background-color: $fcd1d;
  border-color: $fcd1d;
  width: 142px;
  height: 42px;
  line-height: 42px;
  cursor: not-allowed;
}

.mainpart {
  background-color: $fcf5f;
  position: relative;
  z-index: 1;
}

/*表单*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #a9a9a9;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a9a9a9;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-group {
  margin-bottom: 19px;
}

.form-control {
  @include inlineBlock;
  width: 380px;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  color: #333;
  text-indent: .5em;
  background-color: #fff;
  background-image: none;
  border: 1px solid $fcd1d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: 0;
  overflow: visible;
  *width: 372px;
  *height: 34px;
  *line-height: 32px;
}

.form-area {
  width: 100%;
  padding: 10px;
  border: 1px solid $fcd1d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus, .form-area:focus {
  border-color: $fc3c8;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.header {
  padding: 26px 0;
  overflow: hidden;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.05);
  .content {
    @include fix-width;
  }
  .link-black {
    float: right;
    a {
      color: #5c5c5c;
      &:hover {
        color: #3c8ced;
      }
    }
    a.hover {
      color: #3c8ced;
    }
  }
  .link-white {
    a {
      color: #fff;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
  li {
    float: left;
    margin-top: 12px;
    margin-left: 44px;
    cursor: pointer;
    .index-underline {
      border-bottom: 2px solid #fff;
    }
    .index {
      color: #3c8ced;
    }
    //a{
    //  font-weight: bold;
    //}
  }
}

/*尾部*/
.footer {
  .advance {
    padding: 60px 0;
    @include fix-width;
    overflow: hidden;
    ul {
      font-size: 0;
    }
    li {
      float: left;
      width: 25%;
      overflow: hidden;
    }
    .content {
      margin-left: 15px;
    }
  }
  .bottom {
    height: 256px;
    background: #4b4b4b;
    color: #c0c0c0;
    .content {
      padding-top: 58px;
      padding-right: 164px;
      height: 206px;
      *height: 206px - 58px;
      border-bottom: 1px solid $fc5c5;
      overflow: hidden;
    }
    li {
      float: left;
      margin-right: 70px;
      overflow: hidden;
      a {
        cursor: pointer;
        color: #c0c0c0;
      }
    }
    .copy-right {
      text-align: center;
      line-height: 50px;
    }
  }
  .icon {
    display: inline-block;
    background: url("../images/icon.png") no-repeat;
  }
  .icon-guarantee, .icon-safety, .icon-standard, .icon-trade {
    width: 60px;
    height: 60px
  }

  .icon-guarantee {
    background-position: 0 -60px
  }

  .icon-safety {
    background-position: 0 -120px
  }

  .icon-trade {
    background-position: 0 -180px
  }

}

/*common sidebar*/
.sidebar {
  width: 216px;
  margin-right: 20px;
  padding: 15px 0;
  background: #ffffff;
  a {
    display: block;
    margin-left: 70px;
  }
  li {
    height: 48px;
    line-height: 48px;
    padding: 0;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 1px;
    position: relative;
    a {
      display: inline-block;
      font-size: 14px;
      color: #fff;
      height: 100%;
      width: 100%;
      &.active {
        transition: background-color .3s, color .3s;
        background: #3c8ced;
        .item {
          color: #fff;
        }
      }
    }
  }
  li.tit a {
    margin-left: 60px;
  }
  li.tit a span {
    font-weight: bold;
  }
  li:hover, li.hover {
    background: #d3e1f6;
  }
  li:hover .item, li.hover .item {
    // color: #3c8ced;
  }
  .s-icon {
    position: absolute;
    left: 25px;
    top: 13px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../images/sidebar.png') no-repeat;
    vertical-align: middle;
  }
  .usr-center {
    background-position: 0 0;
  }
  .shop-center {
    background-position: -25px 0;
  }

}

/*面包屑*/
.breadcrumb {
  height: 66px;
  line-height: 66px;
  li {
    @include inlineBlock;
    font-size: 14px;
    color: #5c5c5c;
    a {
      position: relative;
      display: inline-block;
      color: #5c5c5c;
      margin-right: 15px;
      &:after {
        position: absolute;
        content: '>';
        right: -15px;
        top: 0
      }
    }

  }
}

.bgcover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/*弹窗*/
.popup-public {
  .wrapper {
    background-color: #fff;
    .close-pop {
      width: 45px;
      height: 45px;
      overflow: hidden;
      text-indent: 100em;
      background: url("../images/myproject/service.png") 8px -630px no-repeat;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }
    .pop-tit01 {
      font-size: 16px;
      text-align: center;
      padding: 65px 0 30px;
      color: #5c5c5c;
    }
    //标题
    .pop-btn-c {
      text-align: center;
    }
  }
}

/* 定义动画 */
.fade-enter-active, .fade-leave-active {
  transition: all .5s ease;
}

.fade-enter-active {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
}

/* 重要：定义初始状态 */
.fade-enter {
  opacity: 0;
}

// 全局 上传 下载的 样式
.upload-module-g {
  //width:700px;

  margin-top: 10px;
  //margin-left:19px;
  i {
    @extend .icon-default-g;
  }
  .upload-box {
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .file_item {
    font-size: 12px;
    color: #999;
    margin: 5px 0;
    .del {
      float: right;
      cursor: pointer;
      i {
        width: 15px;
        height: 15px;
      }
    }
    .file_name {
      display: inline-block;
      font-size: 12px;
      color: #1b1b1b;
      width: 500px;
      vertical-align: middle;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .first {
    font-size: 14px;
    color: #a9a9a9;
    letter-spacing: 0;
    line-height: 14px;
    text-align: left;
    margin: 0 auto;
    height: 40px;
    span {
      display: inline-block;
      margin-top: 13px;
      width: 100%;
      text-align: center;
    }
  }

  .upload-el {
    margin: 0 auto;
    width: 700px
  }
}

.icon-default-g {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

//删除按钮
.icon-del-g {
  background: url("../../assets/images/gd_ico/delete.png") no-repeat 0/cover;
}

.icon-doc-g {
  background: url("../../assets/images/gd_ico/doc.png") no-repeat 0/cover;
}

.icon-jpg-g {
  background: url("../../assets/images/gd_ico/jpg.png") no-repeat 0/cover;
}

.icon-txt-g {
  background: url("../../assets/images/gd_ico/txt.png") no-repeat 0/cover;
}

.icon-ppt-g {
  background: url("../../assets/images/gd_ico/ppt.png") no-repeat 0/cover;
}

.icon-pdf-g {
  background: url("../../assets/images/gd_ico/pdf.png") no-repeat 0/cover;
}

.icon-xls-g {
  background: url("../../assets/images/gd_ico/xls.png") no-repeat 0/cover;
}

//花样滚动条
.scroll-beauty {
  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
  }
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-corner {
    background: #82AFFF;
  }

}
.scrollHidden{
  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

//表单样式
.typeline {
  margin: 20px 10px;
  position: relative;
  /*background-color: red;*/
  .leftshouru {
    color: #1b1b1b;
    font-size: 14px;
    line-height:22px;
  }
  //输入样式
  .base_input {
    /*background:no-repeat 0 0 scroll ＃EEEEEE;*/
    border: 1px solid #ccc;
    width: 600px;
    height: 38px;
    line-height: 36px;
    outline: medium;
    /*background:#ffffff;*/
    border-radius: 3px;
    margin-left: 19px;
    text-indent: .5em;
    margin-top: 5px;
  }
  //文本域样式
  .base_textarea {
    height: 100px;
    width: 600px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 19px;
    padding: 5px;
    margin-top: 5px;
  }
  //单选多选样式
  .base_radio, .base_checkbox {
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 19px;
  }
  //上传文件样式
  .compact_stage {
    width: 700px;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 19px;
  }
  span {
    font-size: 12px;
    color: #1b1b1b;
  }
  .beizhu {
    font-size: 12px;
    color: #999;
    margin-top:8px;
    padding-left: 20px;
  }
  .upload-demo {
    text-align: center;
    .el-upload-list {
      text-align: left;
      padding: 0 100px;
      li {
        height: 30px;
      }
    }
    .el-upload-dragger {
      width: 59%;
      height: 130px;
    }
  }
  .errormessage {
    color: red;
    margin: 5px 0 5px 19px;
    font-size: 14px;
  }
  .block {
    margin-top: 20px;
  }
  .yuandian {
    position: absolute;
    left: -11px;
  }
  .compact_stage {
    .first {
      font-size: 14px;
      color: #a9a9a9;
      letter-spacing: 0;
      line-height: 14px;
      text-align: left;
      margin: 0 auto;
      height: 40px;
      span {
        display: inline-block;
        margin-top: 13px;
        width: 100%;
        text-align: center;
      }
    }

    /*上传按钮*/
    .button_upload {
      width: 90px;
      margin: 0 auto;
      height: 80px;
      padding-top: 20px;
    }
  }
  .first {
    span {
      color: #aaa;
    }
  }
  .answer{
    font-size: 12px;
    color: #1b1b1b;
    margin-top:10px;
    padding-left: 20px;
    margin-bottom:0;
    &:first-child{
      margin-top:20px;
    }
  }
}
