@import "config";
.fca9a {
  color: #a9a9a9
}

.fc1b1 {
  color: #1b1b1b;
}

.fc545 {
  color: #f54545
}

.fs22 {
  font-size: 22px
}

.ma {
  margin-right: auto;
  margin-left: auto
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.va-middle {
  vertical-align: middle
}

.fc175 {
  color: #175a99;
}

.ls4 {
  letter-spacing: 4px;
}

.ls14 {
  letter-spacing: 14px;
}

.btn-grey {
  width: 142px;
  height: 42px;
  line-height: 38px;
  background: #fff;
  border:1px solid #3c8ced;
  color: #3c8ced;
}

.uc-index {
  padding-top:20px;
  @include fix-width;
  .content {
    padding:0 20px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius:4px;
    .main {
      position: relative;
      width: 964px;

      .user-photo {
        height: 129px;
        width: 129px;
        @include borderRadius(50%);
        overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
      }
      /*index*/
      .person-imf {
        height: 219px;
        width: 964px;
        padding-top: 20px;
        padding-left: 30px;
        background: url('../images/userCenter/person-imf.png') no-repeat;

      }
      .user-imf {
        margin-left: 20px;
        padding-top: 24px;
        .position {
          display: inline-block;
          margin-top: 13px;
          font-size: 14px;
          color: #5c5c5c;
        }
        .tag {
          width: 70px;
          height: 25px;
          line-height: 25px;
          font-size: 12px;
          padding: 0 6px;
          margin-left: 15px;
        }
        .t-ed {
          border: 1px solid #3c8ced;
          color: #3c8ced;
        }
        .t-ing {
          border: 2px solid #ff9600;
          color: #ff9600;
        }
        .t-none {
          border: 2px solid #ff0000;
          color: #ff0000;
        }
        .score {
          display: inline-block;
          margin-top: 25px;
          margin-right: 65px;
          color: #ff8400;
          font-weight: bold;
          font-size: 22px;
        }
        .code {
          color: #f54545;
          text-decoration: underline;
          cursor: pointer;
          margin-left:5px;
        }
        .ask {
          display: inline-block;
          margin-top: 6px;
          color: #a9a9a9;
          cursor: pointer;
          &:hover{
            .hover-box{
              display: block;
            }
          }
        }


      }
      .admin-box {
        width: 260px;
        padding-top: 24px;
        margin-right:130px;
        a {
          color: #175a99;
          font-size:14px;
        }
        .information {
          margin-top: 10px;
        }
        p {
          margin-left: 32px;
        }
      }
      .hover-box {
        display: none;
        position: absolute;
        top: 150px;
        left: 345px;
        padding: 16px;
        width: 320px;
        background: #FFFFFF;
        border:1px solid #e5e5e5;
        color: #5c5c5c;
        line-height: 24px;
        font-size: 12px;
        &:before {
          position: absolute;
          left: -15px;
          top: 12px;
          content: '';
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-right: 15px solid #e5e5e5;
          border-bottom: 15px solid transparent;
        }
        &:after {
          position: absolute;
          left: -13px;
          top: 12px;
          content: '';
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-right: 15px solid #FFFFFF;
          border-bottom: 15px solid transparent;
        }
      }
      .state-box {
        padding: 26px 32px 66px 32px;
        background: #ffffff;
        h3 {
          color: #1b1b1b;
          margin-bottom: 10px;
        }
        .certification {
          position: relative;
          height: 143px;
          background: #fffbef;
          padding: 34px 0 0 48px;
          margin-bottom: 13px;
          .tip {
            color: #272727;
            margin-bottom: 20px;
          }
          .examine {
            color: #175a99;
            margin-bottom: 20px;
          }
          .btn-know {
            position: absolute;
            top: 37px;
            right: 138px;
            display: inline-block;
            height: 36px;
            width: 123px;
            line-height: 36px;
            font-size: 15px;
            color: #ffffff;
            background: #f54545;
            text-align: center;
          }
          .help-tel {
            position: absolute;
            top: 83px;
            right: 35px;
          }
        }
        .deal {
          margin: 26px 0 48px 0;
          li {
            float: left;
            width: 100px;
            text-align: center;
            margin-right: 65px;
            p {
              width: 100%;
              text-align: center;
            }
            .blue-cir {
              display: inline-block;
              width: 54px;
              height: 54px;
              line-height: 54px;
              @include borderRadius(50%);
              background: #daf1f8;
              margin-bottom: 5px;
            }
            .i-apl{
              background:url("../images/userCenter/i-apl.png");
            }
            .i-process{
              background:url("../images/userCenter/i-process.png");
            }
            .i-pay{
              background:url("../images/userCenter/i-pay.png");
            }
            .i-comment{
              background:url("../images/userCenter/i-comment.png");
            }
          }
          .num {
            color: #dd2424;
            font-size: 14px;
            margin-left:5px;
          }
        }
        .notice {
          margin: 20px 0;
        }
        .contract-way {
          overflow: hidden;
          margin-bottom: 40px;
          .contract {
            width: 260px;
          }
          .set {
            color: #1556ae;
          }
          .switch {
            margin-top: 8px;
            margin-right: 80px;
            position: relative;
            display: inline-block;
            width: 56px;
            height: 31px;
            background-image:url("../images/userCenter/switch.png");
            cursor: pointer;
          }
        }
        .on {
          .i-phone {
            width: 42px;
            height: 40px;
            background-position: -42px -153px;
            margin-right: 15px;
          }
          .i-mail {
            width: 42px;
            height: 40px;
            background-position: -43px -193px;
            margin-right: 15px;
          }
          .switch {
            background-position: 0 -2px;
            em {
              color: #378aed;
              right: 2px;
            }
          }
        }
        .off {
          .i-phone {
            width: 42px;
            height: 40px;
            background-position: 0 -153px;
            margin-right: 15px;
          }
          .i-mail {
            width: 42px;
            height: 40px;
            background-position: 0 -193px;
            margin-right: 15px;
          }
          .switch {
            background-position:0 -30px;
            em {
              color: #a9a9a9;
              left: 2px;
            }
          }
        }

        /*Co.application*/
        .application-box {
          padding: 22px 0 0 44px;
          .license .lic-main .up-lic-pic li .form-file {
            width: 68px;
            height: 68px;
          }
          .license .lic-main .up-lic-pic li {
            width: auto;
            margin-right: 97px;
          }
          .btn-blue {
            display: block;
            margin: 50px auto 0 auto;
          }
          .upload-pic {
            position: relative;
            top: auto;
            left: auto;
            display: inline-block;
            width: 68px;
            height: 68px;
            img {
              width: 100%;
              height: 100%;

            }
          }
        }
        .lic-know em {
          color: #f84e4e;
          font-weight: bold;
        }

        /*applyPro*/
        .project-box {
          li {
            border: 1px solid #ededed;
            margin-bottom: 20px;
          }
          .list {
            padding: 0 18px;
            height: 50px;
            line-height: 50px;
            background: #efefef;

            .project-num {
              color: #1b1b1b;
              margin-right: 70px;
              margin-left: 38px;
            }
          }
          .event {
            padding: 20px 20px 25px 20px;
            .type {
              color: #1b1b1b;
            }
            .state {
              color: #ff8400;
              em {
                color: #f4453c;
              }
            }
          }
        }

      }

      /*Co.application*/
      .complete-box {
        position: relative;
        position: relative;
        margin-top: 28px;
        background: #ffffff;
        height: 267px;
        padding-top: 50px;
        p {
          text-align: center;
        }
        .return {
          display: inline-block;
          margin-top: 50px;
        }

      }

      /*revise+html*/
      .revise-box {
        padding: 76px 0 50px 83px;
        background: #ffffff;
        label {
          padding-right: 32px;
          width: 120px;
        }
        .form-group {
          margin-bottom: 24px;
          .btn-yzm {
            right: 385px;
          }
          .form-error {
            right: 8px;
          }
          .form-correct {
            right: 342px;
          }

        }
        .btn {
          width: 122px;
          height: 38px;
          line-height: 38px;
          margin-right: 136px;
          margin-top: 25px;
          font-size:14px;
        }
        .return {
          margin-left: 121px;
          background: #dcdcdc;
          color:#5c5c5c;
          &:hover{
            background:#d1d1d1;
          }
        }
      }

      /*Co.management*/
      .form-group .form-address {
        margin-left: 118px;
      }



    }
  }
  /*icon for userCenter*/
  .uc-icon {
    display: inline-block;
    background: url('../images/userCenter/uc-icon.png') no-repeat;
  }
  .i-position {
    height: 30px;
    width: 30px;
    background-position: -5px -26px;
    vertical-align: bottom;
  }
  .i-ask {
    width: 24px;
    height: 24px;
    background-position: -45px -28px;
    vertical-align: bottom;
  }
  .i-pass {
    width: 65px;
    height: 65px;
    background-position: 0 -72px;
    margin-right: 18px;
  }
  .i-fail {
    width: 65px;
    height: 65px;
    background-position: -65px -72px;
    margin-right: 18px;
  }
  .i-apply {
    width: 65px;
    height: 65px;
    background-position: -130px -72px;
    margin-right: 18px;
  }
  .i-examine {
    width: 65px;
    height: 65px;
    background-position: -195px -72px;
    margin-right: 18px;
  }

  .i-bigpass {
    position: absolute;
    top: 60px;
    left: 225px;
    height: 82px;
    width: 82px;
    background-position: 0 -303px;
    margin-right: 58px;
  }

}
/*user-management*/
.user-management {
  padding-left: 45px;
  overflow: hidden;
  .revise {
    color: #3c8ced;
    vertical-align: middle;
    margin-left:20px;
  }
  .form-group .form-error {
    right: -334px;
  }
  .form-group .form-correct {
    right: 0;
  }
  .form-group label {
    padding-right: 24px;
    width:100px;
  }
  .form-group label.sex{
    width:auto;
    padding-right:0;
  }
  .avatar {
    overflow: hidden;
    width: 515px;
  }
  .user-photo {
    position: relative;
    margin-left: 14px;
    margin-right: 19px;
    height: 80px;
    width: 80px;
    @include borderRadius(50%);
    .upload-pic {
      cursor: pointer;
      height: 80px;
      width: 80px;
      // overflow: hidden;
      margin: auto;
      @include borderRadius(50%);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .upload-box {
    margin-top: 30px;
    width: auto;
    height: auto;

  }
  .btn {
    width: 122px;
    height: 38px;
    line-height: 38px;
    margin-top: 30px;
    font-size:14px;
  }
  .return {
    border:1px solid #3c8ced;
    @include borderRadius(2px);
    width:96px;
    height:36px;
    line-height:34px;
    font-size:14px;
    text-align: center;
    color:#3c8ced;
    background: #FFFFFF;
    margin-right:30px;
  }
  .save{
    @include borderRadius(2px);
    width:96px;
    height:36px;
    line-height:36px;
  }
  .avatar-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: url('../images/userCenter/user-photo.png') 0/cover no-repeat;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding-top:32px;
  }
  .avatar-text{
    font-size:14px;
    color: #5c5c5c;
    float: left;
    margin-left:20px;
    margin-top:33px;
  }
}
.uc-pop, .set-pop {
  .wrapper {
    padding:0 120px;
    @include boxCenter01(618px,324px);
    .pop-tit01{
      padding:54px 0 48px 0;
      font-size:22px;
      color: #1b1b1b;
    }
  }
  .uc-input{
    height:40px;
    width:100%;
    line-height:38px;
    color: #a9a9a9;
    font-size:14px;
    border:1px solid #d1d1d1;
    text-indent:1em;
    margin-bottom:40px;
  }
  .btn{
    width:122px;
    height:38px;
    line-height:36px;
  }
}

.set-pop{
  .wrapper {
    text-align: center;
    padding:0 75px;
    @include boxCenter01(475px,324px);
    p{
      margin-bottom:50px;
      color: #5c5c5c;
    }
  }
  .set-warning{
    display:inline-block;
    width:74px;
    height:74px;
    margin-top: 50px;
    margin-bottom: 30px;
    background:url("../images/userCenter/warning.png");
  }

}


/*vue-image-crop-upload*/
.user-management{
  .vue-image-crop-upload .vicp-wrap{
    width:528px;
    .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview .vicp-preview-item{
      &:first-child{
        display: none;
      }
      &:last-child{
        margin-right:50px;
      }
    }
    .vicp-step3 .vicp-upload{
      padding:0;
      .vicp-progress-wrap{
        margin-top:0;
      }
    }
  }
}
