<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <!-- <input v-model="searchText" />
    等价于
    <input :value="searchText" @input="searchText = $event.target.value"> -->

    <div id="todo-list-app">
        <!-- 当用在组件上时，v-model 则会这样： -->
        <custom-input :model-value="searchText" @update:model-value="searchText = $event"></custom-input>
        <custom-input v-model="searchText"></custom-input>
        <div>{{searchText}}</div>
    </div>

    <script>
        const TodoList = {
            data() {
                return {
                    searchText: '123',
                    groceryList: [
                        { id: 0, text: 'Vegetables' },
                        { id: 1, text: 'Cheese' },
                        { id: 2, text: 'Whatever else humans are supposed to eat' }
                    ]
                }
            }
        }

        const app = Vue.createApp(TodoList)

        app.component('custom-input', {
            props: ['modelValue'],
            emits: ['update:modelValue'],
            template: `
                        <input
                        :value="modelValue"
                        @input="$emit('update:modelValue', $event.target.value)"
                        >
                    `
        })
        app.mount('#todo-list-app')

    </script>
</body>

</html>