/*定义一些样式*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul {
	border: 1px solid #000;
	padding: 10px 20px;
	width: 600px;
	margin: 100px;
}
ul span {
	float: right;
}
ul a {
	color: #333;
	text-decoration: none;
	margin: 0 20px;
}
ul a:hover {
	color: #f50;
	text-decoration: underline;
}