<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>vue</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<style>
	.active{color: red;}
</style>
<ul class="top_bar">
	<li class="top_cell"
		v-for="cell in 5"
		:class="{ 'active': cell === selected }"
		@click="choose(cell)">
		{{cell}}
	</li>
</ul>
<script>
    new Vue({
        el:'.top_bar',
		data:{ selected: null },
		methods:{
            choose:function (index) {
                this.selected = index
//				console.log(index)
            }
        }
    });
</script>

<!--案例二 组件-->
<div class="mk">
	<wf-list></wf-list>
</div>
<script>
    Vue.component("wf-list",{
        template:"<ul><li v-for='i in messages' :class=\"{ 'active': i === selected }\" @click=\"addClass(i)\">{{i.name}}</li></ul>",
        data:function () {
            return {
                messages:[
                    {name:"张三"},
                    {name:"1111"},
                    {name:"离开"},
                ],
                selected:null
            }
        },
        methods:{
            addClass:function (index) {
                this.selected=index
            }
        }
    })
    var vm=new Vue({
        el:".mk"
    })
</script>
</body>
</html>

