<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>vue</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<style>
	li{list-style: none;}
	.mk li{ width: 30px; height: 30px; float: left; margin: 0 5px;border:1px solid #ccc; text-align: center;line-height: 30px; cursor: pointer;}
	.mk li.active{border: 1px solid red;color: red;}
	.mk li img{width: 30px; height: 30px;}
	.mk .dash{border: 1px dashed #ccc; opacity: 0.5; cursor: not-allowed}
</style>
<div class="mk">
	<h2>123123123</h2>
	<ul>
		<li v-for="(v,i) in sizes" :class="{active:v.isShow}" @click="addClass(i)">{{v.title}}</li>
	</ul>
	<ul>
		<li :class="{dash:v.xianshi,active:v.bain}" v-for="(v,i) in picUrl" @click="addClass2(i)"><img :src="v.imgUrl" alt=""></li>
	</ul>
</div>
<script>
	var vm = new Vue({
	    el:".mk",
		data:{
	        sizes:[
				{title:12,isShow:false},
				{title:23,isShow:false},
				{title:34,isShow:false},
				{title:45,isShow:false},
				{title:56,isShow:false},
			],
			picUrl:[
				{imgUrl:"images/a1.jpg",xianshi:false,id:"15", bain:false},
				{imgUrl:"images/a2.jpg",xianshi:false,id:"5", bain:false},
				{imgUrl:"images/a2.jpg",xianshi:false,id:"20", bain:false},
				{imgUrl:"images/a2.jpg",xianshi:false,id:"35", bain:false},
				{imgUrl:"images/a2.jpg",xianshi:false,id:"6", bain:false},
				{imgUrl:"images/a2.jpg",xianshi:false,id:"85", bain:false},
			]
		},
		methods:{
            addClass:function (key) {
				this.sizes.forEach(function (v) {
					v.isShow=false;
                })
				this.sizes[key].isShow=true;
				var name=30
				k=this.picUrl.filter(function (v) {
					return v.id>name
                })
//				console.log(k)
				k.forEach(function (v) {
					v.xianshi=true
                })
            },
            addClass2:function (key) {
                this.picUrl.forEach(function (v) {
					v.bain=false;
                })
//				console.log(!(this.picUrl[key].xianshi))
                if(!(this.picUrl[key].xianshi)){
                    this.picUrl[key].bain=true;
				}
            }
		}
	})
</script>
</body>
</html>

