<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<style>
    .act{color:red}
</style>
<div class="mk">
    <input type="text" placeholder="请输入" v-model="task.content" @keydown.enter="addTask">
    <p class="empty" v-if="showEmpty">暂无任务</p>
    <!--<p class="empty" v-if="list.length===0">暂无任务</p>-->
    <div class="list">
        <ul>
            <li v-for="(v,i) in list">
                <input type="checkbox" :checked="v.finished" @click="changClass(i)">
                <span :class="{'act':v.finished}">{{v.content}}</span>
                <button @click="delContent(i)">delete</button>
            </li>
        </ul>
    </div>
</div>
<script>
    var vm = new Vue({
        el: ".mk",
        data: {
            task: {
                content: "", //内容
                finished: false, //未完成
                deleted: false //未删除
            },
            list:[]         //存储用户输入的每一个任务task。
        },
        //没有数据添加占位符
        computed:{
            showEmpty(){
                if(this.list.length===0){
                    return true
                }
            }
        },
        methods: {
            addTask(){
                //将task存入list数组
                this.list.push(this.task);
                //存入list之后将task重置
                this.task={
                    content:"",
                    finished:false,
                    deleted:false
                }
            },
            //点击修改任务状态
            changClass(i){
                var actStore=this.list[i].finished;
                this.list[i].finished=!actStore;
            },
            //删除对应的数据
            delContent(i){
                //使用splice操作删除数组指定项
                this.list.splice(i,1)
            }

        }
    })
</script>
</body>
</html>