.el-tabs__header{
	border-bottom: 0;
}
.el-tabs__item{
	&.is-active{
		color: #3c8ced;
	}
}
.el-tabs__active-bar{
	height: 4px;
	background-color: #3c8ced;
}
.el-table__row{
	height: 60px;
}
.el-tabs__item{
	color: #1b1b1b;
}
.el-table tr th{
	height: 60px;
	background: #e7f9ff;
	.cell{
		background: #e7f9ff;
	}
}
.el-tabs{
	padding: 0 0 22px 22px;
}
.el-table,.is-leaf,.el-table td, .el-table th.is-leaf{
	border: 0;
	.cell{
		color: #1b1b1b;
	}
}
.el-table::after,.el-table::before{
	width: 0;
}
.certification{
	width: 1200px;
	height: 100%;
	.titleCertification{
		height: 40px;
	    border-bottom: 1px solid #e2e2e2;
	    line-height: 40px;
	    padding-left: 14px;
	}
	.block{
		text-align: right;
		margin-top: 10px;
	}
	.details{
		padding: 0 0 20px 22px;
		// border-bottom: 1px solid #999;
	}
	.btndetails{
		color: #fff;
	}
	.checkDtl{
		a{
			color: #3c8ced;
		}
	}
	.each-item {
		float: right;
        width: 50%;
      .img-box {
	    width:100%;
	    li {
	      position: relative;
	      float: left;
	      height: 102px;
	      width: 102px;
	      border: 1px solid #979797;
	      margin-right: 18px;
	      margin-bottom:0;
	      cursor: pointer;
	      img{
	        height:100%;
	        width:100%;
	      }
	      .tag{
	        position: absolute;
	        bottom:0;
	        left: 0;
	        text-align:center;
	        background: rgba(0, 0, 0, 0.60);
	        width: 100px;
	        height: 22px;
	        line-height:22px;
	        font-size:12px;
	        color: #FFFFFF;
	      }
	    }
        .pdf-cover{
          height:100px;
          width:100px;
          background: url("../../assets/images/pdf-cover.png") no-repeat 0/cover;
        }
	  }
    }
	// 企业认证详情
	.detailsTitle{
		height: 40px;
		line-height: 40px;
		background:#f5f5f5;
		margin-top: 20px;
		padding-left: 20px;
		border-left: 5px solid #3c8ced;
	}
	.enterpriseInfo{
		padding: 20px;
		font-size: 14px;
		.left,.right{
			display: inline-block;
		}
		.name{
			margin-top: 10px;
			&:first-child{
				margin-top: 0;
			}
		}
		.wrapper{
			margin-top: 15px;
		}
		.right{
			vertical-align: top;
			margin-left: 20%;
			.down{
				color: #3c8ced;
			}
			.img-box {
		    width:100%;
		    li {
		      position: relative;
		      margin-top: 19px;
		      float: left;
		      height: 102px;
		      width: 102px;
		      border: 1px solid #979797;
		      margin-right: 18px;
		      margin-bottom:0;
		      cursor: pointer;
		      img{
		        height:100%;
		        width:100%;
		      }
		      .tag{
		        position: absolute;
		        bottom:0;
		        text-align:center;
		        background: rgba(0, 0, 0, 0.60);
		        width: 100px;
		        height: 22px;
		        line-height:22px;
		        font-size:12px;
		        color: #FFFFFF;
		      }
		    }
		  }
		}
	}
	.enterpriseInfo2{
		padding: 20px;
		font-size: 14px;
		height: 224px;
		overflow: hidden;
		overflow-y:auto;
		table{
			tr{
				height: 40px;
				td{
					width: 20%;
				}
				.last{
					width: 30%;
				}
			}
		}
	}
}
