@import "config.scss";

.min-width {
  width: 1200px;
  margin: auto
}

.mr26 {
  margin-right: 26px;
}

.mt52 {
  margin-top: 52px;
  display: inline-block
}
/*vue-awesome-swiper*/
.swiper-container, .swiper-wrapper{
  width: 100%;
  height: 420px;
  overflow: hidden;
  position: relative;
}
.swiper-slide a{
  display: inline-block;
  width:100%;
  height:100%;
  z-index: 5;
}
.home .swiper-container .swiper-pagination{
  overflow: hidden;
  position: absolute;
  bottom: 27px;
  left: 50%;
  margin-left: -102px;
  padding: 10px 21px;
  width: 204px;
  height: 26px;
  line-height: 22px;
  background: rgba(0, 0, 0, .32);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  text-align: center;
  z-index: 6;
  .swiper-pagination-bullet{
    position: relative;
    float: left;
    width: 44px;
    height: 4px;
    line-height: 4px;
    margin: 0 5px;
    cursor: pointer;
    vertical-align: middle;
    @include borderRadius(2px);
    background: #FFFFFF;
    opacity:1;
    &:after{
      content: '';
      position: absolute;
      top:-10px;
      left:0;
      height:26px;
      width:44px;
    }
  }
  .swiper-pagination-bullet-active{
    background: #007aff;
  }
}
/*super slide插件设置*/
.slideBox {
  width: 100%;
  height: 420px;
  overflow: hidden;
  position: relative
}

.slideBox .hd {
  overflow: hidden;
  position: absolute;
  bottom: 27px;
  left: 50%;
  margin-left: -102px;
  width: 204px;
  height: 26px;
  line-height: 22px;
  background: rgba(0, 0, 0, .32);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  text-align: center;
  z-index: 1
}

.slideBox .hd ul {
  overflow: hidden;
  zoom: 1;
  padding: 0 21px
}

.slideBox .hd ul li {
  float: left;
  width: 44px;
  height: 26px;
  line-height: 24px;
  margin: 0 5px;
  cursor: pointer
}

.slideBox .hd ul li span {
  display: inline-block;
  width: 100%;
  height: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  vertical-align: middle;
  cursor: pointer
}

.slideBox .hd ul li.on span {
  background: #3c8ced
}

.slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0
}

.slideBox .bd .addlink {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.slideBox .bd ul {
  height: 100%
}

.slideBox .bd li {
  zoom: 1;
  vertical-align: middle;
  height: 100%;
}

.slideBox .bd img {
  width: 100%;
  height: 420px;
  display: block
}

.show-one .prevStop {
  display: none;
}

.show-one .nextStop {
  display: none;
}

.show-another .prevStop {
  display: none;
}

.show-another .nextStop {
  display: none;
}

.zindex10 {
  z-index: 10
}

.zindex9 {
  z-index: 9
}

.zindex8 {
  z-index: 8
}

.zindex7 {
  z-index: 7
}

.zindex6 {
  z-index: 6
}

.zindex5 {
  z-index: 5
}

.zindex4 {
  z-index: 4
}

.zindex3 {
  z-index: 3
}

.zindex2 {
  z-index: 2
}

.zindex1 {
  z-index: 1
}

.home {
  background: #fff;
  .title {
    color: #1b1b1b;
    margin: 34px 0 30px 0;
  }
  .content-box {
    margin-right: -27px;

    .cover {
      position: relative;
      overflow: hidden;
      &:hover img {
        transform: scale(1.3);
        transition: 500ms
      }
    }
    li {
      position: relative;
      float: left;
      width: 382px;
      margin-right: 27px;
      .text {
        bottom: 20px;
        left: 18px;
        position: absolute;
        z-index: 1;
        line-height: 24px;
        margin-right: 20px;
        span {
          @include moreTextEllipsis(1);
          color: #fff;
          font-size: 14px;
        }
      }
      .more-box {
        width: 100%;
        height: 73px;
        padding-top: 10px;
        color: #1c1c1c;
        @include moreTextEllipsis(2);
      }
      .img-box {
        position: relative;
        width: 382px;
        height: 198px;
        overflow: hidden;
      }
    }
  }
  .btn-default {
    display: block;
    width: 440px;
    height: 52px;
    margin: 8px auto 54px auto;
    border: 1px solid #5c5c5c;
    text-align: center;
    cursor: pointer;
    color: #5c5c5c;
    font-size: 14px;
    &:hover {
      border-color: #3c8ced;
      color: #ffffff;
    }
  }
  .other-service {
    margin-top: 96px;
  }
  .related-service {
    border-top: 2px solid #6f6757;
    height: 316px;
    margin-bottom: 60px;
    .entrance {
      position: relative;
      width: 244px;
      height: 314px;
      text-align: center;
      .more {
        position: absolute;
        bottom: 48px;
        left: 50%;
        margin-left: -62px;
        height: 42px;
        line-height: 40px;
        width: 124px;
        @include borderRadius(14px);
        border: 1px solid #ffffff;
        cursor: pointer;
      }
    }
    .audit {
      background: url("../images/home/audit.jpg") no-repeat;
    }
    .patent {
      background: url("../images/home/patent.jpg") no-repeat;

    }
    .show {
      position: relative;
      width: 956px;
      *width: 954px;
      height: 314px;
      overflow: hidden;
      //padding: 18px 40px;
      border-right: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      .tempWrap {
        height: 277px;
        width: 873px;
        overflow: hidden;
        margin: 9px 24px;
      }
      ul {
        overflow: hidden;
        li {
          float: left;
          height: 139px;
          line-height: 139px;
          text-align: center;
          width: 290px;
          p {
            margin: auto;
          }
          a {
            display: inline-block;
            height: 138px;
            width: 281px;
            color: #1b1b1b;
            font-size: 18px;
            &:hover {
              color: #3c8ced;
            }
          }

        }
      }
      .arrow {
        position: absolute;
        top: 50%;
        margin-top: -17px;
        height: 30px;
        width: 22px;
        background: url("../images/home/icon.png") no-repeat;
        cursor: pointer;
      }
      .right {
        right: 7px;
        background-position: -38px -290px;
      }
      .left {
        left: 7px;
        background-position: 0 -290px;
      }
      .scroll-contain {
        position: relative;
        width: 873px;
        height: 100%;
      }
      .scroll-item {
        ul {
          padding: 0 14px;
        }
      }
    }
  }
  .bb-style {
    border-bottom: 1px solid #d1d1d1;
  }
  .br-style {
    border-right: 1px solid #d1d1d1;
  }
  .new-box {
    background: #f7f7f7;
    color: #1b1b1b;
    //overflow: hidden;
    .content {
      position: relative;
      @include fix-width;
      padding: 54px 0 0 10px;
      .tit {
        color: #1b1b1b;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 36px;
      }
    }
    .consult {
      width: 680px;
      p {
        margin-bottom: 36px;
        width: 642px;
        @include moreTextEllipsis(1);
      }
      .btn-default {
        height: 40px;
        width: 150px;
        border-color: #5c5c5c;
        line-height: 38px;
        font-size: 14px;
        color: #5c5c5c;
        font-weight: normal;
        margin-top: 6px;
        &:hover {
          border-color: #3c8ced;
          color: #ffffff;
        }
      }
      a {
        color: #1b1b1b;
        font-size: 13px;
        lin-height: 34px;
        &:hover {
          color: #3c8ced;
        }
      }
    }
    .question {
      padding-left: 55px;
      border-left: 1px solid #d1d1d1;
      width: 450px;
      li {
        position: relative;
        .hover-box {
          position: absolute;
          top: 36px;
          left: 0;
          width: 410px;
          padding: 15px 25px;
          border: 1px solid #d1d1d1;
          background: #ffffff;
          z-index: 99;
          &:before {
            content: '';
            position: absolute;
            top: -11px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 10px solid #d1d1d1;
          }
          &:after {
            content: '';
            position: absolute;
            top: -10px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 10px solid #ffffff;
          }
          p {
            font-weight: normal;
            line-height: 20px;
            margin-bottom: 0;
          }
        }
      }
      p {
        color: #5c5c5c;
        font-size: 13px;
        margin-bottom: 41px;
        *margin-bottom: 36px;
        cursor: pointer;

      }
    }
  }
}

.dis-none {
  display: none;
}

/*帮助中心*/
.help-center {
  padding-top: 30px;
  background: #f0f0f0;
  padding-bottom: 100px;
  overflow: hidden;
  zoom:1;
  .sidebar li {
    cursor: pointer;
    text-align: left;

    .item{
      padding-left: 60px;
    }
  }
  .sidebar a{
    margin: 0;
  }
  .sidebar li.set {
    cursor: auto;
  }
  .border-dashed {
    border-bottom: 1px dashed #e6e6e6;
  }
  .content {
    width: 964px;
    padding: 30px;
    background: #FFFFFF;
    float: left;
    .tit {
      position: relative;
      font-weight: bold;
      color: #1b1b1b;
      padding-left: 30px;
      margin-bottom: 38px;
    }
    .icon-help {
      display: inline-block;
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background: url("../images/home/help-center.png");
    }
    .detail {
      padding-bottom: 20px;
      h5 {
        font-weight: bold;
        color: #5c5c5c;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 16px;
      }
      p {
        color: #5c5c5c;
        line-height: 24px;
        font-size: 14px;
      }
      p.dot {
        position: relative;
        padding-left: 10px;
        color: #5c5c5c;
        line-height: 24px;
        font-size: 14px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 9px;
          width: 5px;
          height: 5px;
          background: #5c5c5c;
          @include borderRadius(50%);
        }
      }
    }
  }
}
