.usresInfo{
	height: 258px;
	background: url("../../assets/images/userCenter/userbg2.png") no-repeat;
	margin: 0 0 20px 0;
	position: relative;
	padding-top: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px #c1c1c1;
	.portrait{
		width: 94px;
		height: 94px;
		border-radius: 50%;
		margin: 0 auto;
  		overflow: hidden;
  		box-shadow: 0px 0px 6px 0px #c1c1c1;
		  img{
		    width:94px;
		    height:94px;
		  }
	}
	.usresName{
		font-size: 16px;
		color: #1b1b1b;
		text-align: center;
		margin-top: 12px;
	}
	ul{
		overflow: hidden;
		zoom:1;
		width: 882px;
		margin: 15px auto 0;
		li{
			width: 50%;
			float: left;
			padding-left: 40px;
			.usreInfoservice{
				display: inline-block;
				font-size: 14px;
				text-align: left;
				color: #3c8ced;
			}
			.telNum{
				font-size: 12px;
				color: #5c5c5c;
				text-align: left;
				margin-top: 6px;
			}
			.authenticated,.notCertified{
				width: 60px;
				height: 20px;
				display: inline-block;
				border-radius: 10px;
				// background: #e65c5c;
				font-size: 12px;
				color: #fff;
				padding: 2px 12px;
				vertical-align: bottom;
			}
			.notCertified{
				background: green;
			}
			.textoverhideen{
				width: 254px;
				color: #5c5c5c;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		li:first-child{
			border-right: 1px solid #d1d1d1;
			padding-left: 314px;
		}
		li:nth-child(2){
			width: 50%;
		}
	}
}
.usresIndex{
	.myProject{
		height: 16px;
    	line-height: 16px;
		font-size: 16px;
		padding-left: 10px;
		margin-bottom: 20px;
		border-left: 4px solid #3c8ced;
	}
	.xsxm_list_main{
	  margin-bottom: 10px;
	  border:1px solid #eaeaea;
	  font-size: 14px;
	  .title{
	    background:#f9f9f9;
	    height:40px;
	    ul{
	    	overflow: hidden;
	    	zoom:1;
	    	padding-right: 20px;
	    	font-size: 12px;
        border-bottom: 1px solid #eaeaea;
	    }
	    li{
	      float: left;
	      line-height: 40px;
	      color: #5c5c5c;
	    }
	    li:nth-child(1){
	      padding-left: 20px;
	      width: 12%;
	      text-align: left;
	    }
	    li:nth-child(2){
	      width: 19%;
	    }
	    li:nth-child(3){
	      width:33.5%;
	      span{
	        display: inline-block;
	        font-size: 12px;
	        height: 20px;
	        line-height: 20px;
	        padding:0 10px;
	        color: #fff;
	        border-radius: 10px;
	        background:#e65c5c;
	      }
	    }
	    li:nth-child(4){
	      width:15%;
	      &.yun{
	        padding-left: 10px;
	      }
	    }
	  }
	  .choose{
	    padding: 10px;
	    position: relative;
	    height: 78px;
    	line-height: 45px;
    	.progressBar{
    		width: 250px;
    		position: absolute;
		    right: 162px;
		    top: 24px;
    	}
    	.colorChange{
		    .el-progress-bar__inner{
		      background-color: #e65c5c;
		    }
		}
		.ingColor{
			.el-progress-bar__inner{
		      background-color: #3c8ced;
		    }
		}
		.finished{
			.el-progress-bar__inner{
		      background-color:#4bae6b;
		    }
		    .el-progress.is-success .el-progress__text{
		    	color:#4bae6b;
		    }
		}
	    .shenbaoYear{
	    	width: 83px;
	    	height: 19px;
	    	line-height: 18px;
	    	color: #fff;
	    	font-size: 12px;
	    	text-align: center;
	    	background: url(../images/jusebeijingshenbao.png) no-repeat;
	    	position: absolute;
		    left: 0;
		    top: 0;
	    }
	    span{
	      display: inline-block;
	      font-size: 12px;
	      height: 20px;
	      line-height: 20px;
	      padding:0 10px 0 26px;
	      color: #fff;
	      border-radius: 10px;
	      margin-bottom: 10px;
	      &.ico_01{
	        background: #4bae6b url("../images/ico/shuishou.png") 10px 4px no-repeat;
	        background-size: 12px;
	      }
	      &.ico_02{
	        background: #ffaa01 url("../images/ico/shenbao.png") 10px 4px no-repeat;
	        background-size: 12px;;
	      }
	      &.ico_03{
	        background: #3c8ced url("../images/ico/chanquan.png") 10px 4px no-repeat;
	        background-size: 12px;;
	      }
	      &.ico_04{
	        background: #e2e2e2;
	        background-size: 12px;
	        color: #666;
	        padding-left: 10px;
	      }
	    }
	    .look{
	    	display: inline-block;
	    	float: right;
	    	margin-right: 12px;
	    	font-size: 12px;
	    	color: #3c8ced;
	    	cursor: pointer;
	    }
	    .qy_name{
        margin-top:7px;
	      font-size: 14px;
	      color: #1b1b1b;
	    }
	    .operation_per{
	      position: absolute;
	      right: 20px;
	      top: 25px;
	    }
	    .operation_per2{
	      position: absolute;
	      right: 20px;
	      top: 25px;
	      li{
	        width: 175px;
	        float: left;
	        text-align: right;
	      }
	      li:last-of-type{width: 100px;}
	      .xmico{
	        width: 87px;
	        padding-left: 10px;
	        background: url("../images/ico/lanyun.png") 10px 3px no-repeat;
	      }
	      .xmico{
	        width: 87px;
	        padding-left: 10px;
	        background: url("../images/ico/lanyun.png") 10px 3px no-repeat;
	      }
	      .xxico{
	        width: 87px;
	        padding-left: 10px;
	        background: url("../images/ico/xianxia.png") 10px 3px no-repeat;
	      }
	    }
	  }
	}
	.xsxm_list_main:last-of-type{margin-bottom: 20px;}
	.xsx_list_none{
	  background: url("../images/nodata.png") center 20px no-repeat;
	  background-size: (586px/2);
	  width: (586px/2);
	  height: 250px;
	  margin: 0 auto;
	}
	.organization {
	  position: relative;
	  .custom-btn {
	    position: absolute;
	    right: 0;
	    top: -10px;
	  }
	  .tab {
	    margin-top: 10px;
	  }
	}

}
