@charset "utf-8";
a,abbr,address,b,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,menu,object,ol,p,pre,q,samp,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,ul,var {
  margin: 0;
  padding: 0;
  font-weight: 400
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block
}

li,ol,ul {
  list-style: none;
  list-style-image: none
}

fieldset,img {
  border: 0 none
}

b,strong {
  font-weight: 700
}

cite,em,i,th {
  font-style: normal
}

table {
  empty-cells: show
}

table,td,th {
  border-collapse: collapse
}
a{
  color: #3c8ced;
}
a,a:active,a:hover,a:link,a:visited {
  outline: 0;
  text-decoration: none
}

button,form,img,input,textarea {
  vertical-align: middle
}

button,select {
  text-transform: none
}

button {
  overflow: visible;
  cursor: pointer
}

button[disabled],html input[disabled] {
  cursor: default
}

input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: textfield
}

:-moz-placeholder,::-webkit-input-placeholder {
  color: #999
}

input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

sub,sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0
}

sup {
  top: -8px
}

sub {
  bottom: -4px
}

abbr[title] {
  border-bottom: 1px dotted
}

pre {
  overflow: auto
}

code,kbd,pre,samp {
  font-size: 1pc;
  font-family: monospace
}

body,html {
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background: #f5f5f5;
  }

body,button,html,input,select,textarea {
  font-family: microsoft yahei,Tahoma,Arial,Roboto,Droid Sans,Helvetica Neue,Droid Sans Fallback,Heiti SC,Hiragino Sans GB,Simsun,sans-self
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
