.xsxm_list_main{
  margin-bottom: 10px;
  border:1px solid #efefef;
  font-size: 14px;
  .title{
    background:#efefef;
    height:40px;
    padding-right:10px;
    li{
      float: left;
      line-height: 40px;
      text-align: left;
    }
    li:nth-child(1){
      padding-left: 19px;
      width: 140px;
      text-align: left;
    }
    li:nth-child(2){
      width: 215px;
    }
    li:nth-child(3){
      width: 476px;
      .status{
        display: inline-block;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        padding:0 10px;
        color: #fff;
        border-radius: 10px;
        background:#e65c5c;
      }
    }
    li:nth-child(4){
      width:88px;
      text-align: left;
      &.yun{
        padding-left: 32px;
        background: url("../images/ico/lanyun.png") 12px 14px no-repeat;
      }
    }
  }
  .choose{
    padding: 15px;
    position: relative;
    span{
      display: inline-block;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      padding:0 12px 0 28px;
      color: #fff;
      border-radius: 10px;
      margin-bottom: 10px;
      &.ico_01{
        background: #4bae6b url("../images/ico/shuishou.png") 10px 4px no-repeat;
        background-size: 12px;
      }
      &.ico_02{
        background: #ffaa01 url("../images/ico/shenbao.png") 10px 4px no-repeat;
        background-size: 12px;;
      }
      &.ico_03{
        background: #3c8ced url("../images/ico/chanquan.png") 10px 4px no-repeat;
        background-size: 12px;;
      }
    }
    .qy_name{
      font-size: 16px;
    }
    .operation_per{
      position: absolute;
      right: 20px;
      top: 31px;
    }
    .operation_per2{
      position: absolute;
      right: 20px;
      top: 31px;
      li{
        width: 167px;
        float: left;
        text-align: right;
      }
      li:last-of-type{width: 100px;}
      .xmico{
        width: 87px;
        padding-left: 10px;
        background: url("../images/ico/lanyun.png") 10px 3px no-repeat;
      }
      .xmico{
        width: 87px;
        margin-right:80px;
        padding-left: 10px;
        background: url("../images/ico/lanyun.png") 10px 3px no-repeat;
      }
      .xxico{
        width: 87px;
        margin-right:80px;
        padding-left: 10px;
        background: url("../images/ico/xianxia.png") 10px 3px no-repeat;
      }
      .xope{
        text-align: left;
      }
    }
  }
}
.xsxm_list_main:last-of-type{margin-bottom: 20px;}
.xsx_list_none{
  background: url("../images/nodata.png") center 20px no-repeat;
  background-size: (586px/2);
  width: (586px/2);
  height: 250px;
  margin: 0 auto;
}
.organization{
  .el-tree-node__content{
    position: relative;
  }
  .custom-btn{
    position: absolute;
    right: 21px;
    top: 10px;
  }
  .custom2{
    position: absolute;
    right: 22px;
    top: 70px;
  }
  .el-tree-node__content{
    padding-right: 5px;
  }
  .el-tabs__item {
    font-size: 14px;
    font-weight: normal;
  }
  .el-tabs__header{
    margin-top: 10px;
    display: inline-block;
  }
  .el-tabs{
    padding: 0;
  }
}
.create-role{
  .labelName{
    display: inline-block;
    width: 152px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
  }
  .el-tree{

    .el-checkbox__inner{
      display: none;
    }
  }
  .el-dialog__header{
    padding: 0;
  }
  .el-dialog__body{
    padding: 0;
  }
  .el-dialog__close{
    display: none;
  }
  .el-tabs{
    padding: 0;
  }
  .el-tabs__content{
    padding-left: 16px;
  }
}
.table-box2{
  position: relative;
  margin-top: 38px;
  .organization_tab{
    overflow: hidden;
    zoom:1;
    text-align: center;
    padding-top: 8px;
    li{
      width: 100px;
      line-height: 34px;
      float: left;
      font-size: 14px;
      color: #999;
      cursor: pointer;
      a{
        width: 100%;
        height: 100%;
        display: inline-block;
      }
      li:nth-child(2){
        // border-left: 1px solid #e2e2e2;
      }
      .current{
        border-bottom: 2px solid #3C8CED;
        color: #3C8CED;
      }
    }
  }
  .tab {
    margin-top: 10px;
  }
}
.department_left{
  width: 249px;
  padding: 8px;
  float: left;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 12px;
  .el-tree{
    height: 659px;
    overflow: auto;
    margin-top: 20px;
    border: 0;
  }
  .el-button--mini{
    border: 0;
    font-size: 12px;
    // margin-left: 0;
    &:hover{
      background:none;
    }
  }
  .el-button--mini:nth-child{
    margin-right: 8px;
  }
  .el-checkbox__inner{
    display: none;
  }
  .adddepartment_box{
    border-bottom: 1px solid #e2e2e2;
    margin: 0 10px;
  }
  .adddepartment{
    width: 100%;
    height: 38px;
    border: 0;
    line-height: 38px;
    text-align: center;
    border-radius: 5px;
    background:#3C8CED;
    font-size: 14px;
    margin: 10px 0;
    outline: none;
    color: #fff;
  }
}
.department_right{
  float: right;
  width: 678px;
  .el-table__row{
    font-size: 12px;
  }
  .changebumen{
    font-size: 14px;
    color: #5c5c5c;
    text-align: center;
    margin-top: 0;
  }
}
.addrole hr{
  height: 1px;
  border: 0;
  border-top: 1px solid #e2e2e2;
  width: 444px;
  margin-left: 30px;
}
.tree{
  width: 370px;
  height: 38px;
  border-radius: 5px;
  cursor:pointer;
  color: #1f2d3d;
  padding-left: 10px;
  border: 1px solid #bfcbd9;
  position: relative;
  .shangjiantou{
    position: absolute;
    right: 11px;
    top: 14px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);   /* IE 9 */
    -moz-transform:rotate(180deg);  /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
  }
}
.addnumber{
  width: 150px;
  height: 80px;
  line-height: 99px;
  color: #3C8CED;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #3C8CED;
  font-size: 16px;
  position: relative;
  top: 20px;
  cursor:pointer;
  margin-bottom: 20px;
  clear:both;
  .jiahao{
    position: absolute;
    right: 69px;
    top: 23px;
  }
}
.roleName{
  font-size: 14px;
  color: #5C5C5C;
}
.nameList{
  margin-top: 20px;
  li{
    width: 140px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #5C5C5C;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin:0 20px 10px 0;
    position: relative;
    cursor: pointer;
    .hongcha{
      position: absolute;
      right: -5px;
      top: -7px;
      cursor: pointer;
    }
  }
}
.numberCover{
  width: 500px;
  height: 400px;
  background:#fff;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 12;
  padding: 16px;
  .numberCover_left{
    width: 49%;
    height: 371px;
    overflow: auto;
    float: left;
    margin-right: 5px;
    padding-left: 10px;
  }
  .numberCover_right{
    width: 49%;
    float: right;
    padding-left: 10px;
    height: 371px;
    border-left: 1px solid #e2e2e2;
    ul{
      margin-top: 10px;
      li{
        line-height: 30px;
      }
    }
  }
  .bumen{
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
  }
}
.tableList,.tableList2{
  width: 100%;
  text-align: left;
  tr{
    height: 82px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
    padding-top: 20px;
    position: relative;
    .shenbao{
      width: 94px;
      height: 18px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      background:url(../../assets/images/shenbaolanse.png) no-repeat;
      position: absolute;
      left: 0;
      top: 0px;
    }
    th{
      line-height: 40px;
      font-size: 14px;
      color: #1B1B1B;
      padding-left: 20px;
    }
    .listItem{
      width:308px;
      display: block;
      font-size: 14px;
      color: #5C5C5C;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .listItem2{
      width: 310px;
    }
    .science{
      font-size: 12px;
      color: #5C5C5C;
    }
    .look{
      font-size: 12px;
      color: #3C8CED;
      cursor: pointer;
    }
    .small{
      display: block;
    }
    .small,.no{
      font-size: 12px;
      color: #5c5c5c;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 5px;
      text-overflow: ellipsis;
    }
    .small3{
      width: 296px;
    }
    .small2{
      width:312px;
    }
    td{
      padding-left: 20px;
    }
    td:nth-child(1),th:nth-child(1){
      width: 332px;
    }
    td:nth-child(2),th:nth-child(2){
     width: 108px;
    }
    td:nth-child(3),th:nth-child(3){
     width: 158px;
    }
    td:nth-child(4),th:nth-child(4),td:nth-child(5),th:nth-child(5){
     width: 90px;
    }
    td:nth-child(6),th:nth-child(6){
      width: 92px;
    }
  }
  tr:nth-child(1){
    height: 40px;
    background: #F9F9F9;
    padding-top: 0;
  }
}
.tableList2{
  tr{
    td:nth-child(1),th:nth-child(1){
      width: 450px;
    }
    td:nth-child(2),th:nth-child(2){
     width: 350px;
    }
    td:nth-child(3),th:nth-child(3){
     width: 122px;
    }
  }
}
.online,.offline{
  font-size: 12px;
  vertical-align: text-top;
}
.online{
  color: #5c5c5c;
}
.offline{
  color:#5c5c5c;
}
.role_box{
  border-bottom: 1px solid #e2e2e2;
  .role_left{
    width: 40%;
    display: inline-block;
    border-right: 1px solid #e2e2e2;
    .el-tree{
      border: 0;
    }
    .bumenName{
      text-align: center;
      font-size: 14px;
      line-height: 44px;
      border-bottom: 1px solid #e2e2e2;
    }
  }
  .role_right{
    width: 59.8%;
    margin-left: -4px;
    display: inline-block;
    vertical-align: top;
    .bumenName{
      text-align: center;
      font-size: 14px;
      line-height: 44px;
      border-bottom: 1px solid #e2e2e2;
    }
    .roleList{
      padding: 10px;
      li{
        cursor: pointer;
        line-height: 30px;
        padding-left: 10px;
      }
    }
  }
}
