.header {
  height: 50px;
  line-height: 50px;
  color: #fff;
  padding-left: 30px;
  overflow: hidden;
  background: #353535;
  .titleleft{
    font-size: 24px;
  }
  .backDiv{
    display: inline-block;
    background: #353535;
    color: #fff;
    padding-left: 10px;
    margin-left: 23%;
  }
  .back{
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
}
.fromContent{
  .from-main{
    .title{
      overflow: hidden;
      zoom:1;
      position: relative;
      top: -43px;
      .me,.new{
        font-size: 18px;
      }
      .me{
        float: left;
        font-weight: bold;
      }
      .new{
        width: 95px;
        height: 30px;
        float: right;
        border:1px solid #4096ff;
        border-radius: 5px;
        padding: 5px 15px;
        cursor:pointer;
        font-size: 14px;
        color: #4096ff;
      }
    }
    .el-button{
      color: #fff;
    }
    .serviceCont{
      margin-top:-14px;
      overflow: hidden;
      zoom:1;
      .serviceLeft{
        display: inline-block;
        float: left;
        .leftTitle{
          font-size:16px;
          color:#1b1b1b;
          padding-left: 10px;
          margin-top:-2px;
        }
        .titleList{
          width: 220px;
          height: 590px;
          overflow: auto;
          font-size:14px;
          color:#5c5c5c;
          margin-top:9px;
          li{
            width: 100%;
            height: 39px;
            cursor: pointer;
            line-height: 39px;
          }
           a {
              width: 100%;
              height: 39px;
              color: #333;
              padding-left: 10px;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &.active {
                color: #fff;
                background: #20a0ff;
                transition: color .3s;
              }
            }
          .active {
            color: #3c8ced;
            // border-bottom: 4px solid #3c8ced;
            transition: border-color .3s, color .3s;
          }
          .current{
            color:#3c8ced;
            font-weight: bold;
          }
        }
      }
      .serviceRight{
        margin-left: 240px;
        .el-table__header,.el-table__body{
          width: 960px !important;
        }
        .form-box{
          padding: 30px 0 4px 25px;
          margin-bottom:21px;
          .el-form--inline{
            .el-form-item{
              vertical-align: middle;
            }
            .el-form-item__content{
              vertical-align: middle;
            }
          }
          .el-input{
            //width:88%;
            //left: -7px;
          }
          .block{
            width: 150px;
          }
          .date-line{
            //position: relative;
            //top: 20px;
            //left: -17px;
          }
        }
        .el-table__row{
          height: 68px;
        }
        .tips,.tips2,.tips3{
          width: 112px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #fff;
          background:#ffaa01;
          border-radius:20px;
          text-align: left;
          padding-left: 10px;
          img{
            width: 15px;
            height: 15px;
            vertical-align: sub;
            margin-right: 5px;
          }
        }
        .tips2{
         background:#3c8ced;
        }
        .tips3{
          background:#4bae6b;
        }
        .tips2,.tips3{
          // display: none;
        }
        .proName{
          font-size:12px;
          color:#666666;
          text-align:left;
        }
      }
    }
    table{
      width: 100%;
      text-align: left;
      // margin-top: 20px;
      tr:nth-of-type(even){
        background: #f5f5f5;
      }
      .del{
        cursor: pointer;
        border: 0;
        font-size: 14px;
        background: none;
        color: #3c8ced;
        text-indent: -6px;
      }
    }
    .block{
      margin: 20px 0;
      text-align: right;
    }
  }
}
.coverBackground{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
}
.delAlert{
  width: 400px;
  height: 150px;
  background: #fff;
  position: fixed;
  padding: 20px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .title{
    font-size: 16px;
  }
  .btn{
    float: right;
    margin-top: 45px;
    .btnbb{
      width: 80px;
      height: 40px;
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
    }
    .delBtn{
      width: 80px;
      height: 40px;
      font-size: 16px;
      border:0;
      outline: none;
    }
    .delBtn2{
      color: #fff;
      background: #ff6600
    }
  }
}
