<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>vue</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<div id="case">
	<p v-once>{{name}}</p>
	<input type="text" v-model="name">
</div>
<script>
var vm=new Vue({
    el:"#case",
	data:{name:" zhangsna "}
})

/*
限制
<input>
<select>
<textarea>
components

修饰符
.lazy - 取代 input 监听 change 事件
.number - 输入字符串转为数字
.trim - 输入首尾空格过滤

*/
</script>



<!--对比-->
<imgInputer v-model="target"></imgInputer>
<!-- 默认等同于下面几行-->
<imgInputer ref="x" :value="target"></imgInputer>
<script>
  ...
  // 默认给这个组件对象绑定input事件！
  this.$refs.x.$on('input', value => {this.target = value})
  ...
</script>
</body>
</html>

